{% extends "ActivityGroup/activitygroup_base.html" %}
{% block title %}{{ sTitle }}{% endblock %}
{% block content %}
<style>
	#group_detail {
		position: fixed;
		top: 10%;
		left: 15%;
	}
	
	#activitygroup {
		position: absolute;
		top: 35%;
		left: 15%;
		width: 70%;
		height: 65%;
		overflow: scroll;
	}

	#activitygroup::-webkit-scrollbar {
		display: none;
	}

	#discuss {
		position: absolute;
		width: 40%;
		height: 100%;
	}

	#subtitle {
		position: relative;
		background-color: rgb(241, 241, 241);
		width: 100%;
		height: 40%;
		margin: 5px;
		padding: 5px;
		border-radius: 5px;
	}

	#subtitle>li {
		position: absolute;
		list-style: none;
		font-size: 15px;
		font-weight: bold;
	}

	#sub_des {
		position: absolute;
		top: 8%;
		left: 0%;
		font-size: 12px;
	}

	#threeM {
		position: absolute;
		background-color: rgb(255, 255, 255);
		top: 26%;
		width: 97%;
		height: 70%;
		overflow: scroll;
	}

	#threeM::-webkit-scrollbar {
		display: none;
	}

	#content {
		position: relative;
		left: 0.3%;
		width: 97%;
		background-color: rgb(240, 240, 240);
		border-radius: 5px;
		margin: 5px;
		overflow-x: scroll;
	}

	#content::-webkit-scrollbar {
		display: none;
	}

	.button {
		padding: 5px 10px;
		margin-right: 5px;
		background-color: rgb(0, 0, 0);
		color: white;
		border: 0 none;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		cursor: pointer;
	}

	.button:hover {
		color: rgb(161, 161, 161);
	}
</style>

<script>

</script>
<div id="group_detail">
	<b style="font-size: 25px;">{{ group.sGroupTitle }}</b>
	<p style="font-size: 12px;">{{ group.createdTime }}</p>
	<pre style="font-size: 13px;">{{ group.sDescription }}</pre>
	<form action="/activitygroup/isPublished=False/{{ group.sGroupTitle }}" method="POST">
		{% csrf_token %}
		<button type="submit" class="button">加入活動群組</button>
	</form>
	{% if group.iStatus == 0 or group.iStatus == 1 %}
	<p style="font-weight: bold;position:fixed;left: 15%;top: 29%;">討論主題</p>
	<p style="font-weight: bold;position:fixed;left: 50%;top: 29%;">便利貼黏貼處</p>
	{% endif %}
</div>
{% if group.iStatus == 0 or group.iStatus == 1 %}
<div id="activitygroup">
	<div id="discuss">
		{% for subtitle in subtitleList %}
		<div id="subtitle">
			<li> {{subtitle.sSubtitle}} </li>
			<div id="sub_des">
				{% if subtitle.sDescription %}
				<pre> {{subtitle.sDescription}} </pre>
				{% endif %}
			</div>
			<div id="threeM">
				{% for threeM in subtitle.groupthreem_set.get_queryset %}
				<div id="content">
					<pre> {{threeM.sContent}}</pre>
					<p>--by {{threeM.whoLeft.get_full_name}}</p>
				</div>
				{% endfor %}
			</div>
		</div>
		{% endfor %}
	</div>

	<div style="position: absolute;left: 50%;width: 40%;height: 100%;">
		{% for threeM in UnclassifiedthreeMList %}
		<div id="content">
			<pre> {{threeM.sContent}}</pre>
			<p>--by {{threeM.whoLeft.get_full_name}}</p>
		</div>
		{% endfor %}
	</div>
</div>
{% endif %}

{% endblock %}