{% extends "usercv/usercv_base.html" %}
{% block title %}履歷管理{% endblock %}
{% block content %}
{% load static %}
<style>
    #article {
        position: absolute;
        width: 60%;
        height: 85%;
        top: 15%;
        left: 20%;
        margin-top: 2px;
        overflow-y: scroll;
    }

    #article::-webkit-scrollbar {
        display: none;
    }

    .article_block {
        position: relative;
        width: 100%;
        height: 75px;
        background-image: url("{% static 'article/img/論壇/文章框-02.png' %}");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin-bottom: 20px;
        color: #ffffff;
        overflow: hidden;
    }

    #article_title {
        position: relative;
        top: 13%;
        left: 6%;
        font-size: 14pt;
        font-weight: 700;
        letter-spacing:2px;
    }

    #article_board {
        position: relative;
        top: 3%;
        left: 6%;
        font-size: 9pt;
        font-weight: 300;
        letter-spacing:2px;
    }

	#add_cv {
        position: relative;
        top: 25%;
        left: 41%;
        font-size: 17pt;
        font-weight: 700;
        letter-spacing:2px;
    }

	#public {
		position: absolute;
		top: 35%;
		left: 2%;
	}

	#edit {
		position: absolute;
		top: 30%;
		right: 190px;
		width: 50px;
        height: 30px;
		color: #e4caff;
		font-size: 12pt;
		font-weight: 700;
		background-image: url("{% static 'article/img/論壇/文章框-02.png' %}");
        background-repeat: no-repeat;
        background-size: 100% 100%;
		background-color: transparent;
		border: #ecd7ff 1.5px solid;
		border-radius: 10%;
		outline: none;
		cursor: pointer;
	}

	#browse {
		position: absolute;
		top: 30%;
		right: 130px;
		width: 50px;
        height: 30px;
		color: #e4caff;
		font-size: 12pt;
		font-weight: 700;
		background-image: url("{% static 'article/img/論壇/文章框-02.png' %}");
        background-repeat: no-repeat;
        background-size: 100% 100%;
		background-color: transparent;
		border: #ecd7ff 1.5px solid;
		border-radius: 10%;
		outline: none;
		cursor: pointer;
	}

	#output {
		position: absolute;
		top: 30%;
		right: 70px;
		width: 50px;
        height: 30px;
		color: #e4caff;
		font-size: 12pt;
		font-weight: 700;
		background-image: url("{% static 'article/img/論壇/文章框-02.png' %}");
        background-repeat: no-repeat;
        background-size: 100% 100%;
		background-color: transparent;
		border: #ecd7ff 1.5px solid;
		border-radius: 10%;
		outline: none;
		cursor: pointer;
	}

	#delete {
		position: absolute;
		top: 30%;
		right: 10px;
		width: 50px;
        height: 30px;
		color: #e4caff;
		font-size: 12pt;
		font-weight: 700;
		background-image: url("{% static 'article/img/論壇/文章框-02.png' %}");
        background-repeat: no-repeat;
        background-size: 100% 100%;
		background-color: transparent;
		border: #ecd7ff 1.5px solid;
		border-radius: 10%;
		outline: none;
		cursor: pointer;
	}

	#new_post {
        position: relative;
        top: 0%;
        left: 35%;
        width: 30%;
        height: 30px;
		color: #e4caff;
		font-size: 13pt;
		font-weight: 700;
		background-image: url("{% static 'article/img/論壇/文章框-02.png' %}");
        background-repeat: no-repeat;
        background-size: 100% 100%;
		background-color: transparent;
		border: #ecd7ff 1.5px solid;
		outline: none;
		cursor: pointer;
    }

	#new_post:hover {
		-webkit-transition:border linear .1s;
        -webkit-box-shadow:0 0 10px rgba(248, 255, 216, 0.75);
	}
	
</style>

<span id="board_name">履歷列表</span>

<div id="select_board">
    <a href="/cv/totalcv">
        <li>
            <div><span>履歷總管</span></div>
        </li>
    </a>
</div>

<form action="" method="POST">{% csrf_token %}
<div id="article">
    {% for key, value in mycvs.items %}
	{% if value %}
        <div class="article_block">
            <span id="article_title">{{value.1}}{% if public == value.0 %}(公開中){%endif%}</span>
            <p id="article_board">最近修改日期 : {{value.2}}</p>
			<input type="radio" name="public" value={{value.0}} {% if public == value.0 %} checked="checked"
						{% endif %} id="public" title="設為公開履歷">
			<input type="button" value="設定" onclick="location.href='mycv/{{value.0}}/edit'" id="edit">
			<input type="button" value="預覽" onclick="location.href='mycv/{{value.0}}/browse'" id="browse">
			<input type="button" value="輸出" onclick="window.open('mycv/{{value.0}}/output')" id="output" >
			<button type="submit" name="to_delete" value={{value.0}} id="delete">刪除</button>
		</div>
    {% endif %}
	{% endfor %}
	{% if mycvs.mycv1 == NULL or mycvs.mycv2 == NULL or mycvs.mycv3 == NULL or mycvs.mycv4 == NULL or mycvs.mycv5 == NULL %}
	<a href="/cv/new_mycv">
        <div class="article_block">
            <span id="add_cv">+ 新增履歷</span>
        </div>
    </a>
	{% endif %}
	<input type="submit" value="更改公開的履歷"  id="new_post">
</div>
</form>

<!-- <div id="content">
	<div id="form">
		<form action="" method="POST">{% csrf_token %}
		<table>
			<tr>
				<th>履歷名稱</th>
				<th>最近修改日期</th>
				<th>公開於論壇</th>
				<th>設定</th>
				<th>預覽</th>
				<th>輸出</th>
				<th>刪除</th>
			</tr>
			{% for key, value in mycvs.items %}
			{% if value %}
			<tr>
				<td>{{value.1}}</td>
				<td>{{value.2}}</td>
				<td><input type="radio" name="public" value={{value.0}} {% if public == value.0 %} checked="checked"
						{% endif %}></td>
				<td><input type="button" value="設定" onclick="location.href='mycv/{{value.0}}/edit'" class="button"></td>
				<td><input type="button" value="瀏覽" onclick="location.href='mycv/{{value.0}}/browse'" class="button"></td>
				<td><input type="button" value="輸出" onclick="location.href='#'" class="button"></td>
				<td><input type="checkbox" name="to_delete" value={{value.0}}></td>
				{% endif %}
				{% endfor %}
			</tr>
		</table>
		<input type="submit" value="確定" class="button" style="position: absolute;right: 0%;">
	</form>
	</div>
	
</div> -->
{% endblock %}