{% extends "usercv/usercv_base.html" %}
{% block title %}{% endblock %}
{% block content %}
{% load static %}
<style>
	#board_name {
        position: absolute;
        width: 50%;
        top: 1%;
        left: 25%;
        font-size: 23pt;
        font-weight: 700;
        text-align:center;
        color:transparent;
        -webkit-text-stroke: 0.7px rgba(255, 255, 255);
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
        letter-spacing: 7px;
        transform:scale(1,0.95);
    }

	#article {
        position: absolute;
        width: 60%;
        height: 88.7%;  
        top: 15%;
        left: 20%;
        margin-top: 2px;
        background-image: url("{% static 'article/img/文章內文/文章背景-02.png' %}");
        background-repeat: no-repeat;
        background-size: 102% 100%;
        background-position: -7px -6px;
        color: #ffffff;
        overflow-y: scroll;
    }

	#article::-webkit-scrollbar {
        display: none;
    }

	#cv_name {
		position: relative;
		top: 20px;
		left: 25px;
		font-size: 15pt;
		font-weight: 700;
		letter-spacing:1px;
	}

	#update_cvname {
		font-size: 15pt;
		font-weight: 700;
		letter-spacing:1px;
		color: #ffffff;
		background-color: rgba(0, 4, 26, 0.37);
		border: none;
	}

	.cv_title {
		position: relative;
		width: 92%;
        font-size: 13pt;
		font-weight: 700;
		top: 40px;
        left: 4%;
        letter-spacing:2px;
        color: #ffffff;
		display:block;
		border-bottom: white 1px solid;
		padding-bottom: 5px;
	}

	.item {
		position: relative;
		width: 92%;
		height: auto;
		top: 40px;
		left: 4%;
		padding-bottom: 5px;
		border-bottom: rgba(255, 255, 255, 0.3) 1px dashed;
	}

	.cv_item {
		position: relative;
		width: 10%;
		height: 0px;
		top: 10px;
		font-size: 11pt;
		font-weight: 500;
		text-align: justify;
		white-space: pre-wrap;
        color: #ffffff;
		display:inline-block;
	}

	.cv_item:after { 
		content: " "; 
		display: inline-block; 
		width: 100%;
	}

	.cv_value {
		position: relative;
		width: 89%;
        left: 11%;
		bottom: 3px;
        font-size: 11pt;
		font-weight: 300;
        color: #ffffff;
		white-space:pre-wrap;
		margin: 15 0 15 0;
	}

	.item_public {
		position: absolute;
		bottom: 2px;
		right: 5px;
		margin: 0%;
		padding: 0%;
		font-size: 10pt;
	}

	#set_cv {
		position: relative;
		top: 60px;
        left: 28%;
        width: 20%;
        height: 30px;
		color: #e4caff;
		font-size: 12pt;
		font-weight: 700;
		background-image: url("{% static 'article/img/論壇/文章框-02.png' %}");
        background-repeat: no-repeat;
        background-size: 100% 100%;
		background-color: transparent;
		border: #ecd7ff 1.5px solid;
		outline: none;
		margin-bottom: 100px;
		cursor: pointer;
	}

	#preview_cv {
		position: relative;
		top: 60px;
        left: 32%;
        width: 20%;
        height: 30px;
		color: #e4caff;
		font-size: 12pt;
		font-weight: 700;
		background-image: url("{% static 'article/img/論壇/文章框-02.png' %}");
        background-repeat: no-repeat;
        background-size: 100% 100%;
		background-color: transparent;
		border: #ecd7ff 1.5px solid;
		outline: none;
		margin-bottom: 100px;
		cursor: pointer;
	}

	#set_cv:hover, #preview_cv:hover{
		-webkit-transition:border linear .1s;
        -webkit-box-shadow:0 0 10px rgba(248, 255, 216, 0.25);
	}

</style>

<span id="board_name">設定履歷</span>

<div id="select_board">
	<a href="/cv">
        <li>
            <div><span>履歷列表</span></div>
        </li>
    </a>
    <a href="/cv/totalcv">
        <li>
            <div><span>履歷總管</span></div>
        </li>
    </a>
</div>

<div id="article">
	<form action="edit" method="POST">
		{% csrf_token %}
		<span id="cv_name">▶ 履歷名稱 <input type="text" name="cvName" value={{cvName}} id="update_cvname" placeholder="履歷名稱"></span>
		<span class="cv_title">個人資料</span>
		{% for data, status in mix %}
		{% for key, value in data %}
		<div class="item">
			<div class="cv_item">{{key}} </div><pre class="cv_value"> {{value}}</pre>
			{% if status == '0' %}
			<div class="item_public">
			<input type="radio" name="{{key}}" value="1">顯示
			<input type="radio" name="{{key}}" value="0" checked="checked">隱藏
			</div>
			{% else %}
			<div class="item_public">
			<input type="radio" name="{{key}}" value="1" checked="checked">顯示
			<input type="radio" name="{{key}}" value="0">隱藏
			</div>
			{% endif %}
		</div>
		{% endfor %}
		{% endfor %}
		<input type="submit" value="儲存" id="set_cv">
		<input type="submit" name="act" value="預覽" onclick="location.href='/cv/mycv/{{cvid}}/browse'" id="preview_cv">
	</form>
</div>

<a href="/cv/">
    <div id="close_bt"></div>
</a>

{% endblock %}