{% load static %}
<style>
    body {
        margin: 0;
        color: white;
    }

    #bg {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    #logo {
            position: absolute;
            width: 6.2%;
            height: 15.3%;
            left: 1.785%;
            top: 3.45%;
            cursor: pointer;
        }

    #sign_in {
        position: absolute;
        top: 58%;
        left: 46%;
        width: 7.049%;
        height: 7.26666%;
        border: none;
        background-image:url("{% static 'user/img/遊客拜訪/還沒按.png' %}");
        background-size: 100% 100%;
        background-color: transparent;
        cursor: pointer;
    }

    #sign_in:hover {
        background-image:url("{% static 'user/img/遊客拜訪/按下去的反應.png' %}");
    }

</style>
<img src="{% static 'user/img/遊客拜訪/BG-01.jpg' %}" id="bg" />
<a href="{% url 'home' %}"><img src="{% static 'user/img/home/LOGO.png' %}" id="logo" /></a>

<button type="submit" onclick="location.href='/board'" id="sign_in"></button>
