{% extends "user/user_base.html" %}
{% load static %}
{% block title %}個人頁面{% endblock %}
{% block content %}
<link href="{% static 'user/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<style>
    .pre_page {
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 13px;
        text-decoration: none;
        color: black;
        line-height: 30px;
        position: fixed;
        left: 20%;
        top: 5%;
        background-color: white;
    }

    pre {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 13px;
        background-color: white;
        border: none;
    }

    p {
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 13px;
        text-decoration: none;
        color: black;
        line-height: 30px;
    }

    a {
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 13px;
        text-decoration: none;
        color: black;
        line-height: 30px;
    }

    a:hover {
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 13px;
        text-decoration: none;
        color: black;
        line-height: 30px;
    }

    #resume {
        position: absolute;
        left: 70%;
        top: 0%;
    }

    #photo {
        position: absolute;
        width: 15%;
        height: 40%;
        left: 25%;
        top: 0%;
    }

    #p_edit {
        position: absolute;
        width: 100%;
        height: 20%;
        left: 0%;
        bottom: 0%;
        background-color: rgb(0, 0, 0, 0.75);
        cursor: pointer;
        display: none;
    }

    #intro_1 {
        position: absolute;
        left: 45%;
        top: 0%;
    }

    #intro_2 {
        position: absolute;
        left: 55%;
        top: 4%;
    }

    #article {
        border-bottom: 1px #000 solid;
        padding-bottom: 5px;
    }

    #mygroup {
        display: none;
    }

    #mycollect {
        display: none;
    }

    #userpage {
        position: fixed;
        width: 100%;
        height: 80%;
        top: 20%;
        overflow: scroll;
    }

    #userpage::-webkit-scrollbar {
        display: none;
    }

    .button {
        padding: 2px 5px;
        background: none;
        border: 0 none;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        cursor: pointer;
    }

    .button:hover {
        color: teal;
    }

    .art_hint {
        position: absolute;
        left: 33%;
        top: 50%;
        width: 150px;
        height: 40px;
        font-size: 12px;
        color: teal;
        background-color: white;
        border: 0.5px solid teal;
        padding: 2px;
    }

    .collect_hint {
        position: absolute;
        left: 48%;
        top: 50%;
        width: 150px;
        height: 40px;
        font-size: 12px;
        color: teal;
        background-color: white;
        border: 0.5px solid teal;
        padding: 2px;
    }

    .group_hint {
        position: absolute;
        left: 65.5%;
        top: 50%;
        width: 163px;
        height: 40px;
        font-size: 12px;
        color: teal;
        background-color: white;
        border: 0.5px solid teal;
        padding: 2px;
    }

    #art_hint,
    #collect_hint,
    #group_hint {
        display: none;
    }
</style>

<script>
    function send() {
        var intro, edit
        intro = document.getElementById("intro");
        edit = document.getElementById("edit");
        intro.style.display = 'block';
        edit.style.display = 'none';
    }
    function edit() {
        var intro, edit
        intro = document.getElementById("intro");
        edit = document.getElementById("edit");
        intro.style.display = 'none';
        edit.style.display = 'block';
    }
    function myarticle() {
        var myarticle, mygroup, mycollect, article, group, collect
        myarticle = document.getElementById('myarticle');
        mygroup = document.getElementById('mygroup');
        mycollect = document.getElementById('mycollect');
        article = document.getElementById('article')
        group = document.getElementById('group')
        collect = document.getElementById('collect')
        myarticle.style.display = 'block';
        mygroup.style.display = 'none';
        mycollect.style.display = 'none';
        article.style.borderBottom = '1px #000 solid';
        article.style.paddingBottom = '5px';
        group.style.borderBottom = 'none';
        group.style.paddingBottom = 'none';
        collect.style.borderBottom = 'none';
        collect.style.paddingBottom = 'none';
    }
    function mygroup() {
        var myarticle, mygroup, mycollect, article, group, collect
        myarticle = document.getElementById('myarticle');
        mygroup = document.getElementById('mygroup');
        mycollect = document.getElementById('mycollect');
        article = document.getElementById('article')
        group = document.getElementById('group')
        collect = document.getElementById('collect')
        myarticle.style.display = 'none';
        mygroup.style.display = 'block';
        mycollect.style.display = 'none';
        article.style.borderBottom = 'none';
        article.style.paddingBottom = 'none';
        group.style.borderBottom = '1px #000 solid';
        group.style.paddingBottom = '5px';
        collect.style.borderBottom = 'none';
        collect.style.paddingBottom = 'none';
    }
    function mycollect() {
        var myarticle, mygroup, mycollect, article, group, collect
        myarticle = document.getElementById('myarticle');
        mygroup = document.getElementById('mygroup');
        mycollect = document.getElementById('mycollect');
        article = document.getElementById('article')
        group = document.getElementById('group')
        collect = document.getElementById('collect')
        myarticle.style.display = 'none';
        mygroup.style.display = 'none';
        mycollect.style.display = 'block';
        article.style.borderBottom = 'none';
        article.style.paddingBottom = 'none';
        group.style.borderBottom = 'none';
        group.style.paddingBottom = 'none';
        collect.style.borderBottom = '1px #000 solid';
        collect.style.paddingBottom = '5px';
    }
    function changePhoto_1() {
        var p_edit;
        p_edit = document.getElementById('p_edit');
        p_edit.style.display = 'block';
    }
    function changePhoto_2() {
        var p_edit;
        p_edit = document.getElementById('p_edit');
        p_edit.style.display = 'none';
    }
    function art_hint_1() {
        var art_hint;
        art_hint = document.getElementById('art_hint');
        art_hint.style.display = 'block';
    }
    function art_hint_2() {
        var art_hint;
        art_hint = document.getElementById('art_hint');
        art_hint.style.display = 'none';
    }
    function collect_hint_1() {
        var collect_hint;
        collect_hint = document.getElementById('collect_hint');
        collect_hint.style.display = 'block';
    }
    function collect_hint_2() {
        var collect_hint;
        collect_hint = document.getElementById('collect_hint');
        collect_hint.style.display = 'none';
    }
    function group_hint_1() {
        var group_hint;
        group_hint = document.getElementById('group_hint');
        group_hint.style.display = 'block';
    }
    function group_hint_2() {
        var group_hint;
        group_hint = document.getElementById('group_hint');
        group_hint.style.display = 'none';
    }
</script>

<div class="pre_page">
    <a href="/board">回 論壇</a>
</div>
<form action="/user/" method="post" id="uploadAvatar" enctype="multipart/form-data">
    {% csrf_token %}
    <div id="selectphoto">{{ form.imageAvatar }}</div>
    <button type="submit" value="submit">Upload</button>
</form>

<div id="userpage">
    <div id="resume">
        <a href="#">個人履歷</a>
    </div>
    <div id="photo" onmouseover="changePhoto_1();" onmouseout="changePhoto_2();">
        <img src="{% if user.userinfo.imageAvatar %}{{user.userinfo.imageAvatar.url}}{% endif %}"
            style="width: 100%;height: 100%;" />
        <form action="/user/" method="post" id="uploadAvatar" enctype="multipart/form-data">
            {% csrf_token %}
            <div id="p_edit">{{ form.imageAvatar }}</div>
            <button type="submit" value="submit">Upload</button>
        </form>
        <div id="p_edit">
            <a href="#" style="position:absolute;left:35%;top:20%;color:white;">更換頭貼</a>
        </div>
    </div>
    <div id="intro_1">
        <p><b>{{ UserName }}</b> ({{ sNickName }})</p>
        <p>文章數：{{ article_number }}</p>
        <p>積分：{{ score }}</p>
        <p>閱讀權限：{{ read }}</p>
        <p id="intro">{{ intro }} <span onclick="edit();" style="cursor: pointer;">✎</span></p>
        <form action="/user/" method="POST" id="edit" style="display: none;">
            {% csrf_token %}
            <input type="text" name="intro" value="{{ intro }}">
            <button type="submit" onclick="send();"
                style="padding:2px 5px; background:#ccc; border:0 none;-webkit-border-radius: 5px;border-radius: 5px;cursor: pointer;">儲存</button>
            <button type="button" onclick="send();"
                style="padding:2px 5px; background:#ccc; border:0 none;-webkit-border-radius: 5px;border-radius: 5px;cursor: pointer;">取消</button>
        </form>
    </div>

    <div id="intro_2">
        <br />
        <p>註冊：{{ register }}</p>
        <p>註冊天數：{{ registerDays }}</p>
        <p>未上線天數：{{ offlineDays }}</p>
    </div>

    <div style="position:absolute;left:25%;top:45%;width: 45%;">
        <form action="/user/" method="POST">
            {% csrf_token %}
            <div id="article" class="col-md-4 col-xs-12 col-sm-6">
                <b onclick="myarticle();" style="cursor: pointer;">我的文章</b>
                {% if bShowMyArts == True %}
                <button type="submit" name="arts" value="close" class="button" onmousemove="art_hint_1();"
                    onmouseout="art_hint_2();"><span class="glyphicon glyphicon-eye-open"
                        aria-hidden="true"></span></button>
                {% else %}
                <button type="submit" name="arts" value="open" class="button" onmousemove="art_hint_1();"
                    onmouseout="art_hint_2();"><span class="glyphicon glyphicon-eye-close"
                        aria-hidden="true"></span></button>
                {% endif %}
            </div>
            <div id="collect" class="col-md-4 col-xs-12 col-sm-6">
                <b onclick="mycollect();" style="cursor: pointer;">我的收藏</b>
                {% if bShowMyCollects == True %}
                <button type="submit" name="collects" value="close" class="button" onmouseover="collect_hint_1();"
                    onmouseout="collect_hint_2();"><span class="glyphicon glyphicon-eye-open"
                        aria-hidden="true"></span></button>
                {% else %}
                <button type="submit" name="collects" value="open" class="button" onmouseover="collect_hint_1();"
                    onmouseout="collect_hint_2();"><span class="glyphicon glyphicon-eye-close"
                        aria-hidden="true"></span></button>
                {% endif %}
            </div>
            <div id="group" class="col-md-4 col-xs-12 col-sm-6">
                <b onclick="mygroup();" style="cursor: pointer;">我的活動群組</b>
                {% if bShowMyGroups == True %}
                <button type="submit" name="groups" value="close" class="button" onmouseover="group_hint_1();"
                    onmouseout="group_hint_2();"><span class="glyphicon glyphicon-eye-open"
                        aria-hidden="true"></span></button>
                {% else %}
                <button type="submit" name="groups" value="open" class="button" onmouseover="group_hint_1();"
                    onmouseout="group_hint_2();"><span class="glyphicon glyphicon-eye-close"
                        aria-hidden="true"></span></button>
                {% endif %}
            </div>
        </form>
    </div>

    <div style="position:absolute;left:25%;top:50%;width: 45%;" id="myarticle">
        {% for article in article %}
        <a href="/board/{{ article.whichBoard }}/{{ article.sTitle }}">
            <div style="margin-top: 20px;">
                <p>{{ article.whichBoard }} / {{ article.sAuthor }} / {{ article.ArticlePostTime }}</p>
                <b style="font-size: 25px;">{{ article.sTitle }}</b>
                <pre>{{ article.sContent }}</pre>
            </div>
        </a>
        {% endfor %}
    </div>

    <div style="position:absolute;left:25%;top:50%;width: 45%;" id="mygroup">
        {% for group in activityGroups %}
        <a href="/activitygroup/isPublished={{ group.isPublished }}/{{ group.sGroupTitle }}">
            <div style="margin-top: 20px;">
                <p>創立人: {{ group.whoCreate }} / 狀態: {{ group.iStatus }}</p>
                <b style="font-size: 25px;">{{ group.sGroupTitle }}</b>
                <pre>{{ group.sDescription }}</pre>
            </div>
        </a>
        {% endfor %}
    </div>

    <div style="position:absolute;left:25%;top:50%;width:45%;width: 45%;" id="mycollect">
        {% for article in collectArticle %}
        <a href="/board/{{ article.whichBoard }}/{{ article.sTitle }}">
            <div style="margin-top: 20px;">
                <p>{{ article.whichBoard }} / {{ article.sAuthor }} / {{ article.ArticlePostTime }}</p>
                <b style="font-size: 25px;">{{ article.sTitle }}</b>
                <pre>{{ article.sContent }}</pre>
            </div>
        </a>
        {% endfor %}
    </div>

    <div id="art_hint">
        {% if bShowMyArts == True %}
        <span class="art_hint">將我的文章於個人頁面隱藏(按這個別人就看不到囉<span class="glyphicon glyphicon-heart"
                aria-hidden="true"></span>)</span>
        {% else %}
        <span class="art_hint">將我的文章於個人頁面顯示(按這個別人就看得到囉<span class="glyphicon glyphicon-heart"
                aria-hidden="true"></span>)</span>
        {% endif %}
    </div>
    <div id="collect_hint">
        {% if bShowMyCollects == True %}
        <span class="collect_hint">將我的收藏於個人頁面隱藏(按這個別人就看不到囉<span class="glyphicon glyphicon-heart"
                aria-hidden="true"></span>)</span>
        {% else %}
        <span class="collect_hint">將我的收藏於個人頁面顯示(按這個別人就看得到囉<span class="glyphicon glyphicon-heart"
                aria-hidden="true"></span>)</span>
        {% endif %}
    </div>

    <div id="group_hint">
        {% if bShowMyGroups == True %}
        <span class="group_hint">將我的活動群組於個人頁面隱藏(按這個別人就看不到囉<span class="glyphicon glyphicon-heart"
                aria-hidden="true"></span>)</span>
        {% else %}
        <span class="group_hint">將我的活動群組於個人頁面顯示(按這個別人就看得到囉<span class="glyphicon glyphicon-heart"
                aria-hidden="true"></span>)</span>
        {% endif %}
    </div>


</div>
{% endblock %}