{% extends "article/article_base.html" %}
{% load static %}
{% block title %}個人頁面{% endblock %}
{% block content %}
<link href="{% static 'user/css/bootstrap.min.css' %}" rel="stylesheet">
<style>
    .pre_page {
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 13px;
        text-decoration: none;
        color: black;
        line-height: 30px;
        position: fixed;
        left: 20%;
        top: 5%;
        background-color: white;
    }

    pre {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 13px;
        background-color: white;
        border: none;
    }

    p {
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 13px;
        text-decoration: none;
        color: black;
        line-height: 30px;
    }

    a {
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 13px;
        text-decoration: none;
        color: black;
        line-height: 30px;
    }

    a:hover {
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 13px;
        text-decoration: none;
        color: black;
        line-height: 30px;
    }

    #resume {
        position: absolute;
        left: 70%;
        top: 0%;
    }

    #photo {
        position: absolute;
        width: 15%;
        height: 40%;
        left: 25%;
        top: 0%;
    }

    #intro_1 {
        position: absolute;
        left: 45%;
        top: 0%;
    }

    #intro_2 {
        position: absolute;
        left: 55%;
        top: 4%;
    }

    #article {
        border-bottom: 1px #000 solid;
        padding-bottom: 5px;
    }

    #mygroup {
        display: none;
    }

    #mycollect {
        display: none;
    }

    #userpage {
        position: fixed;
        width: 100%;
        height: 80%;
        top: 20%;
        overflow: scroll;
    }

    #userpage::-webkit-scrollbar {
        display: none;
    }

</style>

<script>
    function myarticle() {
        var myarticle, mygroup, mycollect, article, group, collect
        myarticle = document.getElementById('myarticle');
        mygroup = document.getElementById('mygroup');
        mycollect = document.getElementById('mycollect');
        article = document.getElementById('article')
        group = document.getElementById('group')
        collect = document.getElementById('collect')
        myarticle.style.display = 'block';
        mygroup.style.display = 'none';
        mycollect.style.display = 'none';
        article.style.borderBottom = '1px #000 solid';
        article.style.paddingBottom = '5px';
        group.style.borderBottom = 'none';
        group.style.paddingBottom = 'none';
        collect.style.borderBottom = 'none';
        collect.style.paddingBottom = 'none';
    }
    function mygroup() {
        var myarticle, mygroup, mycollect, article, group, collect
        myarticle = document.getElementById('myarticle');
        mygroup = document.getElementById('mygroup');
        mycollect = document.getElementById('mycollect');
        article = document.getElementById('article')
        group = document.getElementById('group')
        collect = document.getElementById('collect')
        myarticle.style.display = 'none';
        mygroup.style.display = 'block';
        mycollect.style.display = 'none';
        article.style.borderBottom = 'none';
        article.style.paddingBottom = 'none';
        group.style.borderBottom = '1px #000 solid';
        group.style.paddingBottom = '5px';
        collect.style.borderBottom = 'none';
        collect.style.paddingBottom = 'none';
    }
    function mycollect() {
        var myarticle, mygroup, mycollect, article, group, collect
        myarticle = document.getElementById('myarticle');
        mygroup = document.getElementById('mygroup');
        mycollect = document.getElementById('mycollect');
        article = document.getElementById('article')
        group = document.getElementById('group')
        collect = document.getElementById('collect')
        myarticle.style.display = 'none';
        mygroup.style.display = 'none';
        mycollect.style.display = 'block';
        article.style.borderBottom = 'none';
        article.style.paddingBottom = 'none';
        group.style.borderBottom = 'none';
        group.style.paddingBottom = 'none';
        collect.style.borderBottom = '1px #000 solid';
        collect.style.paddingBottom = '5px';
    }
    function changePhoto_1() {
        var p_edit;
        p_edit = document.getElementById('p_edit');
        p_edit.style.display = 'block';
    }
    function changePhoto_2() {
        var p_edit;
        p_edit = document.getElementById('p_edit');
        p_edit.style.display = 'none';
    }
</script>
<div class="pre_page">
    <a href="/board">回 論壇</a>
</div>

<div id="userpage">
    <div id="resume">
        <a href="#">個人履歷</a>
    </div>
    <div id="photo" onmouseover="changePhoto_1();" onmouseout="changePhoto_2();">
        <img src="{% if author.userinfo.imageAvatar %}{{author.userinfo.imageAvatar.url}}{% endif %}"
            style="width: 100%;height: 100%;" />
    </div>
    <div id="intro_1">
        <p><b>{{ UserName }}</b> ({{ sNickName }})</p>
        <p>文章數：{{ article_number }}</p>
        <p>積分：{{ score }}</p>
        <p>閱讀權限：{{ read }}</p>
        <p id="intro">{{ intro }}</p>
    </div>

    <div id="intro_2">
        <br />
        <p>註冊：{{ register }}</p>
        <p>註冊天數：{{ registerDays }}</p>
        <p>未上線天數：{{ offlineDays }}</p>
    </div>

    <div style="position:absolute;left:25%;top:45%;width: 45%;">
        {% if bShowMyArts == True %}
        <div id="article" class="col-md-4 col-xs-12 col-sm-6">
            <b onclick="myarticle();" style="cursor: pointer;">{{ author.first_name }}{{ author.last_name }}的文章</b>
        </div>
        {% endif %}
        {% if bShowMyCollects == True %}
        <div id="collect" class="col-md-4 col-xs-12 col-sm-6">
            <b onclick="mycollect();" style="cursor: pointer;">{{ author.first_name }}{{ author.last_name }}的收藏</b>
        </div>
        {% endif %}
        {% if bShowMyGroups == True %}
        <div id="group" class="col-md-4 col-xs-12 col-sm-6">
            <b onclick="mygroup();" style="cursor: pointer;">{{ author.first_name }}{{ author.last_name }}的活動群組</b>
        </div>
        {% endif %}
    </div>

    <div style="position:absolute;left:25%;top:50%;width: 45%;" id="myarticle">
        {% for article in article %}
        <a href="/board/{{ article.whichBoard }}/{{ article.sTitle }}">
            <div style="margin-top: 20px;">
                <p>{{ article.whichBoard }} / {{ article.sAuthor }} / {{ article.ArticlePostTime }}</p>
                <b style="font-size: 25px;">{{ article.sTitle }}</b>
                <pre style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-size: 13px;">
                {{ article.sContent }}
                </pre>
            </div>
        </a>
        {% endfor %}
    </div>


    <div style="position:absolute;left:25%;top:50%;width: 45%;" id="mygroup">
        {% for group in activityGroups %}
        <a href="/activitygroup/isPublished={{ group.isPublished }}/{{ group.sGroupTitle }}">
            <div style="margin-top: 20px;">
                <p>創立人: {{ group.whoCreate }} / 狀態: {{ group.iStatus }}</p>
                <b style="font-size: 25px;">{{ group.sGroupTitle }}</b>
                <pre style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-size: 13px;">
                {{ group.sDescription }}
                </pre>
            </div>
        </a>
        {% endfor %}
    </div>


    <div style="position:absolute;left:25%;top:50%;width:45%;" id="mycollect">
        {% for article in collectArticle %}
        <a href="/board/{{ article.whichBoard }}/{{ article.sTitle }}">
            <div style="margin-top: 20px;">
                <p>{{ article.whichBoard }} / {{ article.sAuthor }} / {{ article.ArticlePostTime }}</p>
                <b style="font-size: 25px;">{{ article.sTitle }}</b>
                <pre style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-size: 13px;">
                {{ article.sContent }}
                </pre>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}