{% load static %}
{% load socialaccount %}
<style>
    body {
        margin: 0;
        color: white;
    }

    #bg {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    #logo {
            position: absolute;
            width: 6.2%;
            height: 15.3%;
            left: 1.785%;
            top: 3.45%;
            cursor: pointer;
        }

    .account {
        position: absolute;
        top: 39%;
        left: 35.5%;
        width: 28.906%;
        height: 10.37%;
        border: none;
    }

    .password {
        position: absolute;
        top: 45%;
        left: 35.5%;
        width: 28.906%;
        height: 10.37%;
        border: none;
    }

    #account {
        position: absolute;
        top: 42.5%;
        left: 38%;
        width: 24%;
        height: 3.5%;
        border: none;
        background-color: transparent;
        font-family: 'Noto Sans TC', '微軟正黑體', 'Microsoft JhengHei', sans-serif;
        font-size: medium;
        color: white;
    }

    #password {
        position: absolute;
        top: 48.5%;
        left: 38%;
        width: 24%;
        height: 3.5%;
        border: none;
        background-color: transparent;
        font-family: 'Noto Sans TC', '微軟正黑體', 'Microsoft JhengHei', sans-serif;
        font-size: medium;
        color: white;
    }

    #sign_in {
        position: absolute;
        top: 62%;
        left: 43%;
        width: 7.049%;
        height: 7.26666%;
        border: none;
        background-image:url("{% static 'user/img/登入/還沒按.png' %}");
        background-size: 100% 100%;
        background-color: transparent;
        cursor: pointer;
    }

    #sign_in:hover {
        background-image:url("{% static 'user/img/登入/按下去的反應.png' %}");
    }

    #google_sign_in {
        position: absolute;
        top: 62%;
        left: 52%;
        width: 7.049%;
        height: 7.26666%;
        border: none;
        background-image:url("{% static 'user/img/登入/還沒按.png' %}");
        background-size: 100% 100%;
        background-color: transparent;
        cursor: pointer;
    }

    .forget {
        position: absolute;
        top: 54%;
        left: 38%;
        width: 19.8725%;
        height: 2.53333%;
        border: none;
        cursor: pointer;
    }

    ::-webkit-input-placeholder {
        color: rgba(255, 255, 255, .5);
    }

    :-moz-placeholder {
        /* Firefox 18- */
        color: rgba(255, 255, 255, .5);
    }

    ::-moz-placeholder {
        /* Firefox 19+ */
        color: rgba(255, 255, 255, .5);
    }

    :-ms-input-placeholder {
        color: rgba(255, 255, 255, .5);
    }
</style>
<img src="{% static 'user/img/登入/BG-01.jpg' %}" id="bg" />
<a href="{% url 'user:home' %}"><img src="{% static 'user/img/home/LOGO.png' %}" id="logo" /></a>
<img src="{% static 'user/img/登入/空白(打字的時候變空白底).png' %}" class="account" />
<img src="{% static 'user/img/登入/空白(打字的時候變空白底).png' %}" class="password" />
<!-- <img src="{% static 'user/img/登入/2.註冊登入-20.png' %}" class="forget" /> -->
<form class="form-login" action="{% url 'user:login' %}" method="POST"> 
    {% if errors %}
    <div class="alert alert-warning">{{ errors }}</div>
    {% endif %}
    {% csrf_token %}
    {{ loginForm.username }}
    {{ loginForm.password }}
    <input type="hidden" name="next" value="{{ request.GET.next }}" />
    <button type="submit" id="sign_in"></button>
    <a href="{% provider_login_url 'google' method='oauth2' %}" id = "google_sign_in"></a>
</form>