<!DOCTYPE html>
{% extends "briefcv/D功能.html" %}
{% block title %}模板1：標題+內文+聯絡資訊{% endblock %}
{% block content %}
{% load static %}
<html>

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <!-- 載入思源黑體 -->
    <link href="{% static 'briefcv/css/template.css'%}" rel="stylesheet" type="text/css">

<style type="text/css">
    .title1 {
        position: absolute;
        top: 24%;
        left: 25%;
        width: 50%;
        height: 10%;
        font-family: 'Noto Sans TC', '微軟正黑體', 'Microsoft JhengHei', sans-serif;
        font-size: 40pt;
        font-weight: bolder;
        text-align: center;
        background-color: transparent;
        color: #ffffff;
        padding: 0;
        margin: 0;
        border: 0px solid rgba(255, 255, 255, 0.534);
        overflow: hidden;
        text-overflow: ellipsis;
        letter-spacing: 10px;
    }

    .content1 {
        position: absolute;
        top: 40%;
        left: 25%;
        width: 50%;
        height: 40%;
        font-family: 'Noto Sans TC', '微軟正黑體', 'Microsoft JhengHei', sans-serif;
        font-size: 15pt;
        font-weight: 100;
        background-color: transparent;
        color: #ffffff;
        padding: 0;
        margin: 0;
        border: 0px solid rgba(255, 255, 255, 0.534);
        overflow: hidden;
        text-overflow: ellipsis;
        letter-spacing: 2px;
        overflow-y: scroll;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .contact_title {
        height: 30px;
        width: 70px;
        min-width: 70px;
        font-family: 'Noto Sans TC', '微軟正黑體', 'Microsoft JhengHei', sans-serif;
        font-size: 14pt;
        font-weight: bold;
        text-align: center;
        background-color: transparent;
        color: #ffffff;
        padding: 3px;
        margin: 0;
        border: 2px solid rgba(255, 255, 255, 0.8);
        letter-spacing: 2px;
    }

    #contact{
        position: absolute;
        top: calc(100% - 80px);
        left: 2%; 
        height:80px; 
        width:92%; 
        border: 1px solid white; 
        border-style:none; 
        overflow-y: hidden; 
        overflow-x: scroll;
    }
    #contact_box{
        position: relative;
        border: 1px solid white;
        border-style:none;
        overflow-y: hidden; 
        overflow-x: hidden;
        min-width: 100%;
        height:100%; 
        width: max-content;
    }
    .contact_block{
        top: 20px;
        position: relative;
        border: 1px solid white;
        border-style:none; 
        display: inline-block; 
        width:max-content;
        margin: 0 15px 0 0;
    }
</style>
</head>

<body>
    <img class="BG" src="{% static 'briefcv/img/切圖/履歷表/模板1：標題+內文+聯絡資訊/BG.jpg' %}">
   
    <div>

        <input id="title" name="title" type="text" class="title1"  value="{{Page.sTitle}}" disabled>
        
        <textarea id="content" name="content" type="text" class="content1"  disabled>{{Page.sContent}}</textarea>


        <div id="contact" onmousewheel="scrollfunc(event,this);">
            <div id="contact_box">
                {% for L in PagesList %}
                {% if L.iMouldNumber == 1 %}
                <div class="contact_block">
                    <input type="text" name="LTitle" class="contact_title" maxlength="20" value="{{L.sTitle}}"><input type="text" name="LContent" class="contact_title" maxlength="60" style="font-weight: normal; border-left-style: none;" value="{{L.sContent}}">
                </div>
                {% endif %}
                {% endfor %}
            <script type="text/javascript">
                var c = document.getElementsByClassName("contact_title");
                for(i=0;i<c.length;i++){
                    c[i].style.width=0;
                    c[i].style.width=c[i].scrollWidth+'px';
                    c[i].setAttribute('disabled',"")
                }
            </script>
        </div> 
    </div> 
    


    </div>
</body>
<script type="text/javascript">
    var boxid = 0
    function scrollfunc(e,d){
        if (e.wheelDelta) {var de = e.wheelDelta; }     
        else if (e.detail) {var de = (-1)*e.detail; }

        /*focused = document.elementFromPoint(event.x,event.y)
        if(focused.tagName != 'INPUT'){
            console.log(focused)
               // focused.scrollLeft = focused.scrollLeft - de;
            d.scrollLeft = d.scrollLeft - de;
        }*/
        d.scrollLeft = d.scrollLeft - de;
    }
</script>
</html>
{% endblock %}
