<!DOCTYPE html>
{% extends "briefcv/D功能.html" %}
{% block title %}模板3：條列式{% endblock %}
{% block content %}
{% load static %}
<html>

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <!-- 載入思源黑體 -->
    <link href="{% static 'briefcv/css/template.css'%}" rel="stylesheet" type="text/css">    
</head>
<style>
    .box3{
        top: 20px;
        position: relative;
        border: 1px solid red;
        //border-style:none; 
        //display: inline-block; 
        //width:max-content;
        //margin: 0 15px 0 0;
        max-width: : 100%;
        overflow-y: hidden;
        overflow-x: scroll;
    }
    .block3{
        //top: 15px;
        position: relative;
        //border: 1px solid red;
        //border-style:none; 
        //display: inline-block; 
        width:max-content;
        margin: 15px 0 0 0;
    }
    .contact_title {
        height: 30px;
        width: 124px;
        min-width: 70px;
        font-family: 'Noto Sans TC', '微軟正黑體', 'Microsoft JhengHei', sans-serif;
        font-size: 14pt;
        font-weight: bold;
        text-align: center;
        background-color: transparent;
        color: #ffffff;
        padding: 10px;
        margin: 0;
        border: 2px solid rgba(255, 255, 255, 0.8);
        letter-spacing: 2px;
        display: inline-block;
    }
    .close {
        position: absolute; 
        top: -12px; 
        right: -12px;
        width:24px;
        height:24px;
    }


    .draggg:active{
        cursor:grabbing;
    }
    .draggg{
        height: 29px;
        width: 29px;
        position: relative;
        cursor:grab; 
        display: inline-block;
        background-image: url("{% static 'briefcv/img/切圖/履歷表/功能/已選擇.png' %}");
        background-size: contain;
        background-repeat: no-repeat;
        vertical-align: top;
        background-position: left top 12.5px;
        //background-color: rgba(0, 0, 0, 0.5);
    }
    /*[draggable="true"] {
      /*
       To prevent user selecting inside the drag source
      
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }*/

</style>
<script type="text/javascript">
    var boxid = 0
    function se_tex_box(d,sTitle=null,sContent=null){
        var box = document.createElement('div');
        box.className = 'box3'
        var block = document.createElement('div');
        block.className = 'block3'

        block.setAttribute('ondragstart',"dragStart(event,this);")
        block.setAttribute('ondragenter', "dragEnter(event,this);")
        block.setAttribute('ondrop', "dragDrop(event,this);")

        
        
        var title = document.createElement("input");
        title.type = "text";
        title.name = "LTitle";
        title.className = "contact_title";
        title.setAttribute('maxlength',100);
        title.setAttribute('oninput',"this.style.width=0; this.style.width=this.scrollWidth+'px';");
        title.setAttribute('disabled',"");
        title.placeholder = "標題";
        if (sTitle){title.value = sTitle;
            title.onload="this.style.width=0;  this.style.width=this.scrollWidth+'px';";}

        var content = document.createElement("input");
        content.type = "text";
        content.name = "LContent";
        content.className = "contact_title";
        content.setAttribute('maxlength',100);
        content.style = "font-weight: normal; border-left-style: none";
        content.setAttribute('oninput',"this.style.width=0;  this.style.width=this.scrollWidth+'px';");
        content.setAttribute('disabled',"");
        content.placeholder = "內容";
        if (sContent){content.value = sContent;
            content.onload=function(){this.style.width=0;  this.style.width=this.scrollWidth+'px';};}


        block.appendChild(title);
        block.appendChild(content);
        
        //box.appendChild(block);
        //document.getElementById('myInfor').appendChild(box);

        document.getElementById('myInfor').appendChild(block);
        if (sTitle || sContent){
            title.style.width=0;  title.style.width=title.scrollWidth+'px';
            content.style.width=0;  content.style.width=content.scrollWidth+'px';}
    }
    function se_photo_box(url = null){
        var YT = ['youtube.com','youtu.be']
        if(url == null){
            url=prompt("請輸入連結", "")
            var myURL = new URL(url);
            //console.log(myURL);
        }else{
            var myURL = new URL(url);
        }

        var block = document.createElement('div');
        block.className = 'block3'
        block.style = 'width: fit-content; max-width: calc(100% - 15px);'


        document.getElementById('myInfor').appendChild(block);

        if((myURL.hostname.indexOf(YT[0])+myURL.hostname.indexOf(YT[1])) >= -1){
            //console.log('YT');
            insert_vid(block,myURL);
        }else{
            insert_img(block,url);
        }
    }
    function insert_img(parent,u = null){
        if(u){
            var img=document.createElement("img");

            img.src = u
            img.style = 'border: 1px solid white; max-width: calc(100% - 31px); vertical-align: top;'

            parent.appendChild(img);
            

            //setTimeout(function(p){p.children[0].style.height = p.clientHeight +'px';},100,parent)
            
        }
    }
    function insert_vid(parent,u = null){
        if(u){
            if(u.pathname.slice(0,6)=='/embed'){
                u = u.pathname.slice(6);
            }else if(u.pathname == "/watch"){
                u = '/'+ new URLSearchParams(u.search).get('v');
            }else{
                u = u.pathname;
            }           
            //console.log('YT',u);
            //parent.style = 'width: calc(100% - 50px);'
            var ifr=document.createElement("IFRAME");

            ifr.src = "https://www.youtube.com/embed"+u;
            ifr.style = 'border: 1px solid white; max-width: calc(100% - 31px); vertical-align: top; width: 100vw; height:360px'
            
            ifr.setAttribute('allow',"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture");
            ifr.setAttribute("allowfullscreen",'');
            ifr.setAttribute("title","YouTube video player");
            ifr.setAttribute("frameborder","0");
 
            parent.appendChild(ifr);
        }
    }

    

</script>
<body>
    <img class="BG" src="{% static 'briefcv/img/切圖/履歷表/模板3：條列式/BG.jpg' %}">

    <div  id="m"  style="position: absolute; top: 15%; left: 20%; overflow-x: hidden; overflow-y: auto; height: 80%; width: 60%; display: {% if PagesList %}block;{% else %}none;{%endif%} //border: 1px solid white;" >

        <div id="myInfor" name="myInfor" style="position: relative;top: 1px;left: 2.5%;overflow-x:auto;overflow-y:visible;height: auto;display: block; width: 95%; //border: 1px solid white;">
    <script type="text/javascript">
        function loadTL(df){
            {% for i in PagesList%}
                {% if i.sPictureURL %}
                    se_photo_box('{{i.sContent|safe}}');
                {% else %}
                    se_tex_box('','{{i.sTitle|safe}}','{{i.sContent|safe}}');
                {% endif %}
            {% endfor %}
        }
        loadTL();
    </script>
        </div>


    </div> 

    
      

    
   


</body>

</html>
{% endblock %}