

{% if announces %}
    <p>
    {% for announce in announces %}
        <font size=4><a href="/briefcv/mycv/{{ announce.iSerialNumberOfBriefCv }}/"><b>{{ announce }}</b></a></font>
        <font size=2><i>{{announce.BriefCvPostTime}}</i></font><hr>        
    {% endfor %}
    </p>
{% else %}
    <p>No announcement.</p>
{% endif %} 


<input type="button" value="new" onclick="location.href='./'">


<TITLE>announce</TITLE>　