<!DOCTYPE html>
{% extends "briefcv/D功能.html" %}
{% block title %}模板3：條列式{% endblock %}
{% block content %}
{% load static %}
<html>

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <!-- 載入思源黑體 -->
    <link href="{% static 'briefcv/css/template.css'%}" rel="stylesheet" type="text/css">    
</head>
<style>
    .photo_box {
        position: absolute;
        top: 35%;
        left: 42.5%;
        width: 15%;
        height: 10%;
        display: none;            
    }

    #tex_box {
        position: absolute;
        top: 48%;
        left: 42.5%;
        width: 15%;
        height: 10%;
        display: none;
        text-align: center;
        background-color: transparent;            
    }

    #add_box_1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color:none ;
        display: none; 
    }

    #choice_7 {
        position: absolute;
        top: 48.8%;
        left: 41.8%;
        width: 1.6%;
        height: 2.84444%;
        display: none;
    }

    #choice_8 {
        position: absolute;
        top: 48.8%;
        left: 51.3%;
        width: 1.575%;
        height: 2.8%;
        display: none;
    }

    .se_photo {
        position: absolute;
        top: 47.8%;
        left: 41.5%;
        width: 7.5%;
        height: 5%;
        cursor: pointer;
    }

    .se_tex {
        position: absolute;
        top: 47.8%;
        left: 51%;
        width: 7.5%;
        height: 5%;
        cursor: pointer;
    }
    .contact_title {
        height: 30px;
        width: 124px;
        font-family: 'Noto Sans TC', '微軟正黑體', 'Microsoft JhengHei', sans-serif;
        font-size: 14pt;
        font-weight: bold;
        text-align: center;
        background-color: transparent;
        color: #ffffff;
        padding: 10px;
        margin: 0;
        border: 1px solid rgba(255,255,255, 0.534);
        letter-spacing: 2px;

    }
    .close {
        position: absolute; 
        top: -15px; 
        right: 1px;
        width:30px;
        height:30px;
        cursor: pointer;
        opacity: 0.2
    }
    .close:hover {opacity: 1}

    #add_box2 {
    position: absolute;
    top: 90%;
    left: 50%;
    width: 1.275%;
    height: 2.311111%;
    cursor: pointer;
    }

    [draggable="true"] {
      /*
       To prevent user selecting inside the drag source
      */
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }

</style>
<script type="text/javascript">
    var choice;
    function se_photo() {
        choice = document.getElementById('choice_7');
        choice.style.display = 'block';
    }
    function se_tex() {
        choice = document.getElementById('choice_8');
        choice.style.display = 'block';
    }
    function se_photo_1() {
        choice = document.getElementById('choice_7');
        choice.style.display = 'none';
    }
    function se_tex_1() {
        choice = document.getElementById('choice_8');
        choice.style.display = 'none';
    }
    function add_data() {
        choice = document.getElementById('add_box_1');
        choice.style.display = 'block';

    }
    function se_photo_box2() {
        //choice = document.getElementById('photo_box');
        //choice.style.display = 'block';
        document.getElementById('add_box_1').style.display = 'none';
        document.getElementById('add_box').style.display = 'none';
        input1=document.createElement("img");
        input1.className="photo_box"
        input1.src="{% static 'briefcv/img/切圖/履歷表/模板3：條列式/圖片框.png' %}"
        input1.style.display = 'block';
        document.getElementById("myInfor").appendChild(input1);

    }
    function insertphoto(e,testbox,img){
        testbox.value = testbox.children[1].value;
        //alert(testbox.value);
        console.log(testbox.value);
        img.src = testbox.value;
        if(testbox.value==""){
            img.src = "{% static 'briefcv/img/切圖/履歷表\模板3：條列式\圖片框.png' %}";
        }
        setTimeout(function(){
            if ((img.height)<91){
                testbox.style.height = 100+'px';
            }else{
            testbox.style.height = (img.height+10)+'px';
            }
        },100);

    }
    var idx = 0
    function se_photo_box() {

        document.getElementById('add_box_1').style.display = 'none';
        document.getElementById('add_box').style.display = 'none';

        testbox = document.createElement('div');
        testbox.name = 'img'
        testbox.style='position: relative; width: 100%; margin-top: 15px; height: 52px; max-height:20%;'
        /*testbox.id=idx;
        idx+=1;*/
        
        testbox.draggable="true"
        testbox.setAttribute('ondragstart',"dragStart(event,this);")
        testbox.setAttribute('ondragleave', " dropped(event,this);")
        testbox.setAttribute('ondragenter', "cancelDefault(event,this);")
        testbox.setAttribute('ondragover', "cancelDefault(event,this);")
        /*testbox.addEventListener('dragstart', function(){console.log(this); console.log(d); dragStart(event,this);})
        testbox.addEventListener('dragleave', function(){dropped(event,this);})
        testbox.addEventListener('dragenter', function(){cancelDefault(event,this);})
        testbox.addEventListener('dragover', function(){cancelDefault(event,this);})*/
        
        var input1=document.createElement("img");
        var input2=document.createElement("input");
        //<img id="photo_box" class="photo_box" src="{% static 'briefcv/img/切圖/履歷表\模板3：條列式\圖片框.png' %}">
        //input1.type='button'
        input1.name='LTitle'
        //input1.id='new1'
        //input1.placeholder='標題'
        //input1.className="photo_box";
        input1.style='position: absolute; width: calc(30% - 22px); display:block; cursor: pointer; padding: 3.9845px 10px; margin: 0; border: 1px solid rgba(255,255,255, 0.534); '//max-height:100%;
        input1.src="{% static 'briefcv/img/切圖/履歷表\模板3：條列式\圖片框.png' %}"
        //input1.addEventListener('click', function(){insertphoto(event,this.parentElement);  })
        input1.setAttribute('onclick' , "insertphoto(event,this.parentElement,this);") ;
        input2.type='text'
        input2.name='LContent'
        //input2.id='new2'
        input2.placeholder='圖片連結'
        input2.className="contact_title";
        input2.style=`position: absolute;  display: inline-block; font-weight: normal; `
        input2.style.width= 'calc(100% - 59px - '+ input1.style.width+')';
        input2.style.left= 'calc(22px + '+ input1.style.width+')';
        testbox.appendChild(input1);
        testbox.appendChild(input2);

        close = document.createElement('img');
        close.className="close"
        close.name = 'img' 
        close.src="{% static 'briefcv/img/切圖/履歷表/功能/資料刪除ICON.png' %}"
        //close.setAttribute('onclick' , "console.log(this);this.parentElement.style.display = 'none';");
        close.setAttribute('onclick' , "d=this.parentElement; d.parentElement.removeChild(d);");
        //close.addEventListener("click",function() {this.parentElement.style.display = 'none'; });
        //close.setAttribute('onclick', "del()");del()
        testbox.appendChild(close);

        document.getElementById("myInfor").appendChild(testbox);
    }

    function se_tex_box() {
        choice = document.getElementById('tex_box');

        //choice.style.display = 'block';
        document.getElementById('add_box_1').style.display = 'none';
        document.getElementById('add_box').style.display = 'none';
        //br=document.createElement('br');
        //document.getElementById("myInfor").appendChild(br);
        
        var input1=document.createElement("input");
        var input2=document.createElement("input");

        testbox = document.createElement('div');
        testbox.name = 'text'
        testbox.style='position: relative; width: 100%; margin-top: 15px; height: 52px;'
        /*testbox.id=idx;
        idx+=1;*/

        testbox.draggable="true"
        testbox.setAttribute('ondragstart',"dragStart(event,this);")
        testbox.setAttribute('ondragleave', " dropped(event,this);")
        testbox.setAttribute('ondragenter', "cancelDefault(event,this);")
        testbox.setAttribute('ondragover', "cancelDefault(event,this);")


        /*testbox.addEventListener('dragstart', function(){/*console.log(this); console.log(d); dragStart(event,this);})
        testbox.addEventListener('dragleave', function(){dropped(event,this);})
        testbox.addEventListener('dragenter', function(){cancelDefault(event,this);})
        testbox.addEventListener('dragover', function(){cancelDefault(event,this);})*/
        

        input1.type='text'
        input1.name='LTitle'
        //input1.id='new1'
        input1.placeholder='標題'
        input1.className="contact_title";
        input1.style='width: calc(30% - 22px); display: inline-block;'
        input2.type='text'
        input2.name='LContent'
        //input2.id='new2'
        input2.placeholder='內容'
        input2.className="contact_title";
        input2.style='width: calc(70% - 37px) ; display: inline-block; font-weight: normal;'
        testbox.appendChild(input1);
        testbox.appendChild(input2);

        close = document.createElement('img');
        close.className="close"
        close.name = 'text'
        close.src="{% static 'briefcv/img/切圖/履歷表/功能/資料刪除ICON.png' %}"
        //close.setAttribute('onclick' , "console.log(this);this.parentElement.style.display = 'none';") ;
        close.setAttribute('onclick' , "d=this.parentElement; d.parentElement.removeChild(d);");
        //close.setAttribute('onclick', "del()");del()
        testbox.appendChild(close);

        document.getElementById("myInfor").appendChild(testbox);       

    }
    /*function dragStart (e) {
        console.log('dragStart')
        e.dataTransfer.setData('text/plain', e.target.id)
    }*/

    var srcdiv = null; 
    var sTitle = null;
    var sContent = null;
    var divhtml = null;
    function dragStart (e,d) {
        console.log('dragStart');
        //console.log(e);
        sTitle = d.children[0].value
        sContent = d.children[1].value
        console.log('a:',sTitle,'b:',sContent)
        /*var index = $(e.target).index()
        e.dataTransfer.setData('text/plain', index)*/

        srcdiv=d;
        divhtml = d.innerHTML;  
        console.log(srcdiv);
        console.log(divhtml);
        e.dataTransfer.setData("text/html",d.innerHTML);
    }
    function dropped (e,d) {
       
        cancelDefault(e)
        
        console.log('drop')
        //console.log(e)
        console.log(d)
        if(srcdiv != d){  
            srcdiv.innerHTML = d.innerHTML;  
            srcdiv.children[0].value = d.children[0].value
            srcdiv.children[1].value = d.children[1].value
            //d.innerHTML=e.dataTransfer.getData("text/html");
            d.innerHTML=divhtml           
            d.children[0].value = sTitle
            d.children[1].value = sContent

            h = srcdiv.style.height;
            srcdiv.style.height = d.style.height;
            d.style.height = h;

            srcdiv = d;        
            //sTitle = null
            //sContent = null

        }
/*        // get new and old index
        let oldIndex = e.dataTransfer.getData('text/plain')
        let target = $(e.target)
        let newIndex = target.index()
  
        // remove dropped items at old place
        let dropped = $(this).parent().children().eq(oldIndex).remove()

        // insert the dropped items at new place
        if (newIndex < oldIndex) {
            target.before(dropped)
        } else {
            target.after(dropped)
        }*/
    }
    function cancelDefault (e,d) {
        e.preventDefault()
        e.stopPropagation()
        return false
    }


    function del() {
        //this.parentElement.style.display = 'none';
        /*var closebtns = document.getElementsByClassName("close");
        var i;

        for (i = 0; i < closebtns.length; i++) {
            closebtns[i].addEventListener("click", function() {
            this.parentElement.style.display = 'none';
            });
        }            */
        alert("刪除");
    }

    function test(){
        var input1=document.createElement("input");
        var input2=document.createElement("input");
        
        input1.type='text'
        input1.id='new1'
        input1.placeholder='標題'
        input1.style='font-size:20px'
        input2.type='text'
        input2.id='new2'
        input2.placeholder='內容'
        input2.style='font-size:20px'
        input1.appendChild(input2);
       
        document.getElementById("myInfor").appendChild(input1);

    }
    function save() {
        document.getElementById('save_1').style.display = 'none'; 
        document.getElementById('save_2').style.display = 'block';

        form = document.getElementById('m');
        form.method = "POST";

        list = document.getElementsByClassName("close");
        for (var i = 0; i < list.length; i++) {
            listtype = document.createElement("input");
            listtype.value = list[i].name;//.parentElement
            listtype.name = 'listtype';
            listtype.style.display = 'none';
            document.getElementById("myInfor").appendChild(listtype);
        }    
        form.submit()
    }
    

</script>
<body>
    <img class="BG" src="{% static 'briefcv/img/切圖/履歷表/模板3：條列式/BG.jpg' %}">

    <div class="top"></div>
    <div class="logo"></div>

    <div class="person"></div>
    <div class="activity"></div>
    <div class="cv"></div>
    <div class="notice"></div>
    <div class="set"></div>

    <div class="eye_1"></div>
    <div class="last"></div>
    <!-- <img class="last" src="{% static 'briefcv/img/切圖/履歷表/功能/上一頁ICON(yes).png' %}" >-->
    <div class="add_1"></div>
    <!-- <img class="add_2" src="{% static 'briefcv/img/切圖/履歷表/功能/新增頁面-下一頁.png' %}" >
    <img class="add_3" src="{% static 'briefcv/img/切圖/履歷表/功能/新增頁面-下一層.png' %}" >-->
    <div class="delete" onclick="delete_box();"></div>
    <div class="clear" onclick="clear_box();"></div>
    <div class="print"></div>
    <div class="save_1"></div>
    <!-- <img class="save_2" src="{% static 'briefcv/img/切圖/履歷表/功能/儲存ICON(yes).png' %}" > -->
    <div class="exit_1" onclick="exit_box();"></div>


    <!--img class="color_1" src="{% static 'briefcv/img/切圖/履歷表\功能\主題底色ICON-深色.png' %}"-->
    <!-- <img class="color_2" src="{% static 'briefcv/img/切圖/履歷表\功能\主題底色ICON-淺色.png' %}" > -->

    <!-- <img class="unread" src="{% static 'briefcv/img/切圖/履歷表\功能\顯示未讀.png' %}" > -->
    <img class="last_style" src="{% static 'briefcv/img/切圖/履歷表\功能\上一組模板.png' %}" >
    <img class="next_style" src="{% static 'briefcv/img/切圖/履歷表\功能\下一組模板ICON.png' %}" >

    
    <!--img id="add_box2" onclick="add_box()" src="{% static 'briefcv/img/切圖/履歷表\功能\資料新增ICON.png' %}"-->
    
    <div  id="m" style="position: absolute; top: 15%; left: 20%; overflow-x: hidden; overflow-y: auto; height: 70%; display: inline-block; width: 60%; " >

        <div id="myInfor" name="myInfor" style="position: absolute;top: 1px;left: 2.5%;overflow-x:hidden;overflow-y:auto;height: 100%;display: inline-block; width: 95%; ">
        {% for L in PagesList %}
        {% if L.iMouldNumber == 3 %}
        <div style="position: relative; width: 100%; margin-top: 15px; height: 52px;" >
        {% if not L.sPictureURL  %}
            <input type="text" name="LTitle" class="contact_title" style="width: calc(30% - 22px); display: inline-block;" value="{{L.sTitle}}" disabled><input type="text" name="LContent" class="contact_title" style="width: calc(70% - 37px); display: inline-block; font-weight: normal;" value="{{L.sContent}}" disabled>
        {% elif L.sPictureURL %}
            <img name="LTitle" src={% if L.sContent %}"{{L.sContent}}"{% else %}"{% static 'briefcv/img/切圖/履歷表\模板3：條列式\圖片框.png' %}"{% endif %}  style="position: absolute; width: calc(30% - 22px); display: block;  padding: 3.9845px 10px; margin: 0px; border: 1px solid rgba(255, 255, 255, 0.533); " onload=" this.parentElement.style.height = this.height+'px' ;">
            <!--input type="text" name="LContent" class="contact_title" style="position: absolute; display: inline-block; font-weight: normal; width: calc((100% - 59px) - (30% - 22px)); left: calc(22px + 30% - 22px);" value="{{L.sContent}}" disabled-->
        {% endif %}    
        </div>    
        {% endif %}
        {% endfor %}
        </div>
        <!--img id="tex_box" src="{% static 'briefcv/img/切圖/履歷表\模板3：條列式\文字框.png' %}">
        <img id="photo_box" class="photo_box" src="{% static 'briefcv/img/切圖/履歷表\模板3：條列式\圖片框.png' %}"-->
        

    </div> 

      
    <!--img id="add_box" onclick="add_data();" src="{% static 'briefcv/img/切圖/履歷表/模板3：條列式/文字-09.png' %}" {% if  PagesList %}style="display: none;"{% endif %}-->
          

    <div id="add_box_1">
        
        <img class="box" src="{% static 'briefcv/img/切圖/履歷表\模板3：條列式\選擇框.png' %}">
        <img id="choice_7" src="{% static 'briefcv/img/切圖/履歷表\功能\已選擇.png' %}">
        <img id="choice_8" src="{% static 'briefcv/img/切圖/履歷表\功能\已選擇.png' %}">
        
        <div class="se_photo" onmousemove="se_photo();" onmouseout="se_photo_1();" onclick="se_photo_box();"></div>
        <div class="se_tex" onmousemove="se_tex();" onmouseout="se_tex_1();" onclick="se_tex_box();">
        </div>
        
    </div>
   

    <!--div id="clear_box">
        <img class="box" src="{% static 'briefcv/img/切圖/履歷表\功能\清內容.png' %}">
        <img id="choice_1" src="{% static 'briefcv/img/切圖/履歷表\功能\已選擇.png' %}">
        <img id="choice_2" src="{% static 'briefcv/img/切圖/履歷表\功能\已選擇.png' %}">
        <div class="confirm_delete" onmousemove="confirm_delete_1();" onmouseout="confirm_delete_2();"></div>
        <div class="undelete" onmousemove="undelete_1();" onmouseout="undelete_2();" onclick="closeclear();"></div>
    </div-->

    <div id="delete_box">
        <img class="box" src="{% static 'briefcv/img/切圖/履歷表\功能\刪除此頁.png' %}">
        <img id="choice_3" src="{% static 'briefcv/img/切圖/履歷表\功能\已選擇.png' %}">
        <img id="choice_4" src="{% static 'briefcv/img/切圖/履歷表\功能\已選擇.png' %}">
        <div class="confirm_delete" onmousemove="confirm_delete_3();" onmouseout="confirm_delete_4();"></div>
        <div class="undelete" onmousemove="undelete_3();" onmouseout="undelete_4();" onclick="closedelete();"></div>
    </div>

    <!--div id="exit_box">
        <img class="box" src="{% static 'briefcv/img/切圖/履歷表\功能\離開.png' %}">
        <img id="choice_5" src="{% static 'briefcv/img/切圖/履歷表\功能\已選擇.png' %}">
        <img id="choice_6" src="{% static 'briefcv/img/切圖/履歷表\功能\已選擇.png' %}">
        <div class="confirm_delete" onmousemove="savebt();" onmouseout="savebt_1();"></div>
        <div class="undelete" onmousemove="exitbt();" onmouseout="exitbt_1();"></div>
    </div-->

</body>

</html>
{% endblock %}