<!DOCTYPE html>
{% extends "briefcv/D功能.html" %}
{% block title %}模板4：時間軸{% endblock %}
{% block content %}
{% load static %}
<html>

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <!-- 載入思源黑體 -->
    <link href="{% static 'briefcv/css/template.css'%}" rel="stylesheet" type="text/css">
</head>
<style type="text/css">
    .add_but {
        position: absolute;
        width: 45px;
        height: 45px;
        //left: 10%;   
        cursor: pointer;
        margin: 0 0 0 15px;
    }
    #add_list {
        position: absolute;
        top: 18.5%;
        left: 8%;
        width: 14%;
        display: none;
    }
    #myList{
        //position: absolute;
        left: 10%;
        width: calc(100% - 35px);;
        margin: 20px 0 0 20px;
        padding: 0 0;
        //overflow-y: scroll;
        //overflow-x: hidden;
        cursor: pointer;
    }
    #myList li {
        position: relative;
        list-style: none;
        margin: 5px 0px 0px 0px;
        padding: 12.5px 0px 12.5px 30px;
        width: calc(100% - 30px);
        background-image: url("{% static 'briefcv/img/切圖/履歷表/模板4：時間軸/序列ICON.png' %}");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 25px;
        
    }
    #myList li:before{
        //content: "";
        display: inline-block;      
    }  
    #myList li:hover, #myTopic .Contentlist:hover{
        //content: "";
        background-color: rgba(255, 255, 255, 0.3);      
    } 
    #add_list input[type=text] {
        width: calc(100% - 5px);
        background-color: transparent;
        color: #b3b3ff;
        padding: 0;
        margin: 0;
        border: none;
        font-family: 'Noto Sans TC', '微軟正黑體', 'Microsoft JhengHei', sans-serif;
    }


    .myTopic {
        margin: 20px 0 0 15px; 
        padding: 0 0 0 0px;
        width:calc(100% - 35px);
    }

    .add_topic {
        position: absolute;
        top: 18.5%;
        left: 27.5%;
        width: calc(55% + 20px);
        height: 78%;
        display: none;
        overflow:scroll;
    }
    #add_content {
        position: absolute;
        top: 45%;
        left: 45%;
        width: 14%;
        height: 10%;
        cursor: pointer;
    }

    .myTopic .Contentlist {
        position: relative;
        list-style: none;
        margin: 0px 0px 17px 0px;
        padding: 0px 0px 5px 30px;
        width: calc(100% - 35px);
        max-width: calc(100% - 35px);

        background-image: url("{% static 'briefcv/img/切圖/履歷表/模板4：時間軸/事件ICON.png' %}");
        background-repeat: no-repeat;
        background-position: left top 12.5px;
        background-size: 25px;
        
        background-color: transparent;
        color: #ffffff;
        border: none;
        font-family: 'Noto Sans TC', '微軟正黑體', 'Microsoft JhengHei', sans-serif;
        font-size: 0pt;
        font-weight: bold;
        cursor: pointer;
    }
    .myTopic .EditContent {
        position: relative;
        list-style: none;
        //margin: 0px 0px 17px 0px;
        //padding: 0px 0px 5px 30px;
        width: calc(100% - 0px);
        
        background-color: transparent;
        color: #ffffff;
        border: none;
        font-family: 'Noto Sans TC', '微軟正黑體', 'Microsoft JhengHei', sans-serif;
        font-size: 30pt;
        font-weight: bold;
        cursor: text;
    }

    .myTopic li:empty:before{
        content: "新增文字";
        color:rgba(255, 255, 255, 0.3); 
        //display: inline-block;
    } 


    .close {
        position: absolute; 
        top: -17px; 
        right: -17px;
        width:30px;
        height:30px;
        cursor: pointer;
        opacity: 0
    }
    .close:hover {opacity: 1}
</style>
<script type="text/javascript">
    var TLnum = 0;
    var TLnow = 0;
    function add_list() {
        choice = document.getElementById('add_sequence');
        show = document.getElementById('add_list');
        choice.style.display = 'none';
        show.style.display = 'block';
        myFunction();
        
    }
    function myFunction(d,T=undefined){
        var node=document.createElement("li");
        var input=document.createElement("input");
        document.getElementById('add_content').style.display = 'none';
        node.className='Timeline'
        node.id = "Timeline_"+TLnum;
        node.setAttribute('onclick','console.log("now:",this.id.split("_")[1]);TLdisplay(this.id.split("_")[1]);')

        input.type='text';
        input.name='Timeline'
        input.className='new';
        input.placeholder='新增文字';
        input.style='font-size:20px;';
        input.disabled = 'true';
        console.log('T:',T)
        if (T){ input.value = T;}
        var close=document.createElement("img");
        close.className="close" 
        close.src="{% static 'briefcv/img/切圖/履歷表/功能/資料刪除ICON.png' %}"
        close.setAttribute('onclick' , "var id= this.parentElement.id.split('_')[1]; d=document.getElementById('addtopic_'+id); d.parentElement.removeChild(d); d=this.parentElement; d.parentElement.removeChild(d);");  
        close.style = "top: -13px; right: -13px; width:25px; height:25px;"

        node.appendChild(input);
        //node.appendChild(close);
        document.getElementById("myList").appendChild(node);

        var myTopic = document.getElementsByClassName("add_topic");
        var myList = document.getElementsByClassName("Timeline");
        console.log(myTopic,myList)
        if (myTopic.length != myList.length){
            var add_topic=document.createElement("div");
            add_topic.className = "add_topic";
            //add_topic.style = "margin: 20px 0 0 15px; padding: 0 0 0 0px; width:calc(100% - 35px) ;"
            add_topic.style.display = 'block';
            add_topic.id="addtopic_"+TLnum;
            var L=document.createElement("ul");
            L.className = "myTopic";
            L.style = "margin: 20px 0 0 15px; padding: 0 0 0 0px; width:calc(100% - 35px);"
            

            var B=document.createElement("img");
            B.className = "add_but";
            B.setAttribute('onclick',"myFunction2(this.parentElement);")
            B.src="{% static 'briefcv/img/切圖/履歷表\模板4：時間軸\新增.png' %}"
            B.style="left:calc(46.35% - 20px); margin: 0px;"

            add_topic.appendChild(L);
            //add_topic.appendChild(B);
            document.getElementById('FC').appendChild(add_topic);

        }

        TLnow = TLnum;
        TLnum += 1;
        TLdisplay(TLnow);
        return add_topic;
    }


    function addcontent() {
        choice = document.getElementById('add_content');
        //show = document.getElementById('addtopic_0');
        choice.style.display = 'none';
        //show.style.display = 'block';
        add_list();
        //myFunction2(show);
        
        
    }

    function myFunction2(parent,T=undefined){
        var list=document.createElement("LI");
        var input=document.createElement("LI");
        var close=document.createElement("img");
        list.src='切圖/履歷表/模板4：時間軸/事件ICON.png'
        list.className = 'Contentlist'

        input.type='text'
        input.className='EditContent'
        input.setAttribute("contenteditable" , "none")
        input.style='font-size:30px'
        input.placeholder='新增文字'
        if(T){input.innerText=T}

        close.className="close" 
        close.src="{% static 'briefcv/img/切圖/履歷表/功能/資料刪除ICON.png' %}"
        close.setAttribute('onclick' , "d=this.parentElement; d.parentElement.removeChild(d);");  

        list.appendChild(input);
        //list.appendChild(close);
        myTopic = parent.getElementsByClassName("myTopic");
        myTopic[0].appendChild(list);
    }

    function TLdisplay(num){
        var myTopic = document.getElementsByClassName("add_topic");
        var myList = document.getElementsByClassName("Timeline");
        d = document.getElementById('addtopic_'+num);
        if ((d==null)&&(TLnow == num)){
            num = myTopic[0].id.split('_')[1];
        }else if((d==null)&&(TLnow != num)){num = TLnow}
        for(i=0;i<myTopic.length;i++){
            if (myTopic[i].id != ("addtopic_"+num)){
                myList[i].style.opacity = 0.5;
                myTopic[i].style.display = 'none';
            }else{
                myList[i].style.opacity = 1;
                myTopic[i].style.display = 'block';
            }
        }
        TLnow = num;
    }
    function add_data(d,URL = null) {
        if(URL == null){
            URL=prompt("請輸入連結", "")
        }
        var parent = document.getElementById('addtopic_'+TLnow);
        console.log(URL,TLnow,parent)
        console.log(parent.style.display)
        if(URL){
            if (parent.style.display == ''){
                console.log('N')
                document.getElementById('add_content').style.display = 'none';
                parent.style.display = 'block';
            }
            var list=document.createElement("LI");
            var img=document.createElement("img");
            var close=document.createElement("img");
            list.className = 'Contentlist'
            list.style = 'background-image:none; //border: white solid; width: fit-content;'

            img.src = URL
            img.style = 'border: 1px solid white; max-width: 100%; vertical-align: top;'

            close.className="close" 
            close.src="{% static 'briefcv/img/切圖/履歷表/功能/資料刪除ICON.png' %}"
            close.setAttribute('onclick' , "d=this.parentElement; d.parentElement.removeChild(d);"); 
            //if(list.style.width>=)
            list.appendChild(img);
            //list.appendChild(close);
            myTopic = parent.getElementsByClassName("myTopic");
            myTopic[0].appendChild(list); 
        } 
    }
    function save() {
        //form = document.createElement("form");
        //form.setAttribute("method", "POST");

        form = document.getElementById('m');
        form.method = "POST";

        var TimelineL = document.getElementsByName('Timeline')
        console.log('f',form,'TL',TimelineL)
        
        for(i=0;i<TimelineL.length;i++){
            var input=document.createElement("input");
            input.type = 'hidden'
            input.value = TimelineL[i].value
            input.name = 'TimelineL'
            console.log(TimelineL[i])
            console.log(input.value)
            form.appendChild(input)
            myTopic = document.getElementById('addtopic_'+i)
            children = myTopic.getElementsByClassName('myTopic')[0].children
            console.log(children)
            for (j=0;j<children.length;j++){
                var input=document.createElement("input");
                console.log(children[j].children)
                if (children[j].children[0].tagName=='IMG'){
                    input.value = '[img]'+children[j].children[0].src;
                }else{
                    input.value = children[j].children[0].innerText;
                }
                
                input.name = 'addtopic_'+i ;
                console.log(input)
                input.type = 'hidden'
                form.appendChild(input)
            }
        }
        /*myTopic = document.getElementById('addtopic_0')
        myTopic.appendChild(form);
        console.log(form,TimelineL)*/
        form.submit()
    }

</script>
<body>
    <img class="BG" src="{% static 'briefcv/img/切圖/履歷表/模板4：時間軸/bg (1).jpg' %}">

    <div class="top"></div>
    <div class="logo"></div>

    <div class="person"></div>
    <div class="activity"></div>
    <div class="cv"></div>
    <div class="notice"></div>
    <div class="set"></div>

    <div class="eye_1"></div>
    <div class="last"></div>
    <!-- <img class="last" src="{% static 'briefcv/img/切圖/履歷表/功能/上一頁ICON(yes).png' %}" >-->
    
    <!-- <img class="add_2" src="{% static 'briefcv/img/切圖/履歷表/功能/新增頁面-下一頁.png' %}" >
    <img class="add_3" src="{% static 'briefcv/img/切圖/履歷表/功能/新增頁面-下一層.png' %}" >-->
    <!-- <img class="save_2" src="{% static 'briefcv/img/切圖/履歷表/功能/儲存ICON(yes).png' %}" > -->
    <div class="exit_1" onclick="exit_box();"></div>


    <!-- <img class="color_1" src="{% static 'briefcv/img/切圖/履歷表/功能/主題底色ICON-深色.png' %}"> -->
    <!-- <img class="color_2" src="{% static 'briefcv/img/切圖/履歷表/功能/主題底色ICON-淺色.png' %}" > -->
    <div class="add_4"></div>
    <!-- <img class="delete_1" src="{% static 'briefcv/img/切圖/履歷表/功能/資料刪除ICON.png' %}" >
    <img class="delete_2" src="{% static 'briefcv/img/切圖/履歷表/功能/資料刪除ICON-27.png' %}" > -->

    <!-- <img class="unread" src="{% static 'briefcv/img/切圖/履歷表/功能/顯示未讀.png' %}" > -->
    <div class="last_style"></div>
    <div class="next_style"></div>

    <div id="add_sequence" onclick="add_list();">
        <!--img class="add_sequence" src="{% static 'briefcv/img/切圖/履歷表/模板4：時間軸/新增序列.png' %}"-->
    </div>

    <div  id="m"  >
    
    <div id='add_list' style=" //border: 1px solid white; overflow:scroll; position: absolute; top: calc(18.5% - 20px); left: 8%; width: calc(14% + 20px); height: 78%;">
        <ul id="myList" >
            <!--input type="button" value='變更欄位為可用' onclick="ChangeDisabled(1)"><input type="button" value='變更欄位為禁用' onclick="ChangeDisabled(2)"src="/static/briefcv/img/%E5%88%87%E5%9C%96/%E5%B1%A5%E6%AD%B7%E8%A1%A8/%E5%8A%9F%E8%83%BD/%E8%B3%87%E6%96%99%E5%88%AA%E9%99%A4ICON.png"-->
        </ul>
        <!--img class="add_but" onclick="myFunction(this)" src="{% static 'briefcv/img/切圖/履歷表\模板4：時間軸\新增.png' %}"-->
    </div>

    
    <img id="add_content" src="{% static 'briefcv/img/切圖/履歷表/模板4：時間軸/新增序列內容.png' %}" onclick="addcontent()">
    <div id="FC">
    <!--div id="addtopic_0" class="add_topic" draggable="false" style="//border: 1px solid white;" >
        <ul class="myTopic" style="margin: 20px 0 0 15px; padding: 0 0 0 0px; width:calc(100% - 35px) ;"></ul>
        <img class="add_but" onclick="myFunction2(this.parentElement);" src="{% static 'briefcv/img/切圖/履歷表\模板4：時間軸\新增.png' %}" style="left:calc(46.35% - 20px); margin: 0px;">    
    </div-->
    </div>
    <script type="text/javascript">
        function loadTL(df){
            choice = document.getElementById('add_sequence');
            show = document.getElementById('add_list');
            choice.style.display = 'none';
            show.style.display = 'block';

            var L = []
            var i = 0
            {% for T in LTitle %}
            L.push('{{T}}')
            {% endfor %}
            console.log(L)

            {% for T in TL %}
            console.log(L[i])
            p = myFunction('',L[i])
                {% for j in T %}
                console.log('{{j}}')
                if ('{{j}}'.slice(0,5)=='[img]'){
                console.log('{{j}}'.slice(5))
                add_data('','{{j}}'.slice(5))
                }else{
                myFunction2(p,'{{j}}')
                }
                {% endfor %}
            i+=1
            {% endfor %}
        }
        {% if LTitle %}
        loadTL();
        {% endif %}
    </script>
    </div>

</body>

</html>

{% endblock %}