<!DOCTYPE html>
{% extends "briefcv/功能.html" %}
{% block title %}模板5：文章式{% endblock %}
{% block content %}
{% load static %}
<html>

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <!-- 載入思源黑體 -->
    <link href="{% static 'briefcv/css/template.css'%}" rel="stylesheet" type="text/css">
    <script src="{% static 'briefcv/js/template.js'%}"></script>
</head>

<body>
    <img class="BG" src="{% static 'briefcv/img/切圖/履歷表/模板5：文章式/BG-05.jpg' %}">

    <div class="top"></div>
    <div class="logo"></div>

    <div class="person"></div>
    <div class="activity"></div>
    <div class="cv"></div>
    <div class="notice"></div>
    <div class="set"></div>

    <div class="eye_1"></div>
    <div class="last"></div>
    <!-- <img class="last" src="{% static 'briefcv/img/切圖/履歷表/功能/上一頁ICON(yes).png' %}" >-->
    <div class="add_1"></div>
    <!-- <img class="add_2" src="{% static 'briefcv/img/切圖/履歷表/功能/新增頁面-下一頁.png' %}" >
    <img class="add_3" src="{% static 'briefcv/img/切圖/履歷表/功能/新增頁面-下一層.png' %}" >-->
    <div class="delete" onclick="delete_box();"></div>
    <div class="clear" onclick="clear_box();"></div>
    <div class="print"></div>
    <div class="save_1"></div>
    <!-- <img class="save_2" src="{% static 'briefcv/img/切圖/履歷表/功能/儲存ICON(yes).png' %}" > -->
    <div class="exit_1" onclick="exit_box();"></div>


    <!-- <img class="color_1" src="{% static 'briefcv/img/切圖/履歷表/功能/主題底色ICON-深色.png' %}"> -->
    <!-- <img class="color_2" src="{% static 'briefcv/img/切圖/履歷表/功能/主題底色ICON-淺色.png' %}" > -->
    <div class="add_4"></div>
    <!-- <img class="delete_1" src="{% static 'briefcv/img/切圖/履歷表/功能/資料刪除ICON.png' %}" >
    <img class="delete_2" src="{% static 'briefcv/img/切圖/履歷表/功能/資料刪除ICON-27.png' %}" > -->

    <!-- <img class="unread" src="{% static 'briefcv/img/切圖/履歷表/功能/顯示未讀.png' %}" > -->
    <div class="last_style"></div>
    <div class="next_style"></div>

    <form  id="m" method="POST">
        {% csrf_token %}
        <input type="text" name="title" class="title5" placeholder="標題" value="{{Page.sTitle}}">
        <div class="photo_box">
            <img class="add_photo" src="{% static 'briefcv/img/切圖/履歷表/模板5：文章式/新增照片或影片.png' %}">
        </div>
        <textarea type="text" name="content" class="content5" placeholder="新增文字內容">{{Page.sContent}}</textarea>
    </form> 
    

</body>

</html>

{% endblock %}