<!DOCTYPE html>
{% extends "briefcv/功能.html" %}
{% block title %}模板3：條列式{% endblock %}
{% block content %}
{% load static %}
<html>

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <!-- 載入思源黑體 -->
    <link href="{% static 'briefcv/css/template.css'%}" rel="stylesheet" type="text/css">    
</head>
<style>
    .photo_box {
        position: absolute;
        top: 35%;
        left: 42.5%;
        width: 15%;
        height: 10%;
        display: none;            
    }

    #tex_box {
        position: absolute;
        top: 48%;
        left: 42.5%;
        width: 15%;
        height: 10%;
        display: none;
        text-align: center;
        background-color: transparent;            
    }

    #add_box_1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color:none ;
        display: none; 
    }

    #choice_7 {
        position: absolute;
        top: 48.8%;
        left: 41.8%;
        width: 1.6%;
        height: 2.84444%;
        display: none;
    }

    #choice_8 {
        position: absolute;
        top: 48.8%;
        left: 51.3%;
        width: 1.575%;
        height: 2.8%;
        display: none;
    }

    .se_photo {
        position: absolute;
        top: 47.8%;
        left: 41.5%;
        width: 7.5%;
        height: 5%;
        cursor: pointer;
    }

    .se_tex {
        position: absolute;
        top: 47.8%;
        left: 51%;
        width: 7.5%;
        height: 5%;
        cursor: pointer;
    }
    .contact_title {
        height: 30px;
        width: 124px;
        font-family: 'Noto Sans TC', '微軟正黑體', 'Microsoft JhengHei', sans-serif;
        font-size: 14pt;
        font-weight: bold;
        text-align: center;
        background-color: transparent;
        color: #ffffff;
        padding: 10px;
        margin: 0;
        border: 1px solid rgba(255,255,255, 0.534);
        letter-spacing: 2px;

    }
    .close {
        position: absolute; 
        top: -15px; 
        right: 1px;
        width:30px;
        height:30px;
        cursor: pointer;
        opacity: 0
    }
    .close:hover {opacity: 1}

</style>
<script type="text/javascript">
    var choice;
    function se_photo() {
        choice = document.getElementById('choice_7');
        choice.style.display = 'block';
    }
    function se_tex() {
        choice = document.getElementById('choice_8');
        choice.style.display = 'block';
    }
    function se_photo_1() {
        choice = document.getElementById('choice_7');
        choice.style.display = 'none';
    }
    function se_tex_1() {
        choice = document.getElementById('choice_8');
        choice.style.display = 'none';
    }
    function add_box() {
        choice = document.getElementById('add_box_1');
        choice.style.display = 'block';

    }
    function se_photo_box() {
        //choice = document.getElementById('photo_box');
        //choice.style.display = 'block';
        document.getElementById('add_box_1').style.display = 'none';
        document.getElementById('add_box').style.display = 'none';
        input1=document.createElement("img");
        input1.className="photo_box"
        input1.src="切圖/履歷表/模板3：條列式/圖片框.png' %}"
        input1.style.display = 'block';
        document.getElementById("myInfor").appendChild(input1);

    }
    function se_tex_box() {
        choice = document.getElementById('tex_box');
        //choice.style.display = 'block';
        //document.getElementById('add_box_1').style.display = 'none';
        document.getElementById('add_box').style.display = 'none';
        //br=document.createElement('br');
        //document.getElementById("myInfor").appendChild(br);
        
        var input1=document.createElement("input");
        var input2=document.createElement("input");

        testbox = document.createElement('div');
        testbox.style='position: relative; width: 100%; margin-top: 15px;'

        input1.type='text'
        input1.id='new1'
        input1.placeholder='標題'
        input1.className="contact_title";
        input1.style='width: calc(30% - 22px); display: inline-block;'
        input2.type='text'
        input2.id='new2'
        input2.placeholder='內容'
        input2.className="contact_title";
        input2.style='width: calc(70% - 37px) ; display: inline-block; font-weight: normal;'
        testbox.appendChild(input1);
        testbox.appendChild(input2);

        close = document.createElement('img');
        close.className="close"  
        close.src="切圖/履歷表/功能/資料刪除ICON.png' %}"
        close.addEventListener("click",function() {
            this.parentElement.style.display = 'none'; del()});
        //close.setAttribute('onclick', "del()");
        testbox.appendChild(close);

        document.getElementById("myInfor").appendChild(testbox);

    }
    function del() {
        //this.parentElement.style.display = 'none';
        /*var closebtns = document.getElementsByClassName("close");
        var i;

        for (i = 0; i < closebtns.length; i++) {
            closebtns[i].addEventListener("click", function() {
            this.parentElement.style.display = 'none';
            });
        }            */
        alert("刪除");
    }

    function test(){
        var input1=document.createElement("input");
        var input2=document.createElement("input");
        
        input1.type='text'
        input1.id='new1'
        input1.placeholder='標題'
        input1.style='font-size:20px'
        input2.type='text'
        input2.id='new2'
        input2.placeholder='內容'
        input2.style='font-size:20px'
        input1.appendChild(input2);
       
        document.getElementById("myInfor").appendChild(input1);

    }
    

</script>
<body>
    <img class="BG" src="{% static 'briefcv/img/切圖/履歷表/模板3：條列式/BG.jpg' %}">

    <div class="top"></div>
    <div class="logo"></div>

    <div class="person"></div>
    <div class="activity"></div>
    <div class="cv"></div>
    <div class="notice"></div>
    <div class="set"></div>

    <div class="eye_1"></div>
    <div class="last"></div>
    <!-- <img class="last" src="{% static 'briefcv/img/切圖/履歷表/功能/上一頁ICON(yes).png' %}" >-->
    <div class="add_1"></div>
    <!-- <img class="add_2" src="{% static 'briefcv/img/切圖/履歷表/功能/新增頁面-下一頁.png' %}" >
    <img class="add_3" src="{% static 'briefcv/img/切圖/履歷表/功能/新增頁面-下一層.png' %}" >-->
    <div class="delete" onclick="delete_box();"></div>
    <div class="clear" onclick="clear_box();"></div>
    <div class="print"></div>
    <div class="save_1"></div>
    <!-- <img class="save_2" src="{% static 'briefcv/img/切圖/履歷表/功能/儲存ICON(yes).png' %}" > -->
    <div class="exit_1" onclick="exit_box();"></div>


    <img class="color_1" src="{% static 'briefcv/img/切圖/履歷表\功能\主題底色ICON-深色.png' %}">
    <!-- <img class="color_2" src="{% static 'briefcv/img/切圖/履歷表\功能\主題底色ICON-淺色.png' %}" > -->

    <!-- <img class="unread" src="{% static 'briefcv/img/切圖/履歷表\功能\顯示未讀.png' %}" > -->
    <img class="last_style" src="{% static 'briefcv/img/切圖/履歷表\功能\上一組模板.png' %}" >
    <img class="next_style" src="{% static 'briefcv/img/切圖/履歷表\功能\下一組模板ICON.png' %}" >

    
    
    <div style="position: absolute;top: 15%;left: 20%;overflow-x:hidden;overflow-y:auto;height: 70%;display: inline-block; width: 60%; ">
        <div id="myInfor" style="position: absolute;top: 1px;left: 2.5%;overflow-x:hidden;overflow-y:auto;height: 100%;display: inline-block; width: 95%; "></div>
        <img id="tex_box" src="{% static 'briefcv/img/切圖/履歷表\模板3：條列式\文字框.png' %}">
        <img id="photo_box" class="photo_box" src="{% static 'briefcv/img/切圖/履歷表\模板3：條列式\圖片框.png' %}">
    </div> 
    <img id="add_box" onclick="add_box();" src="{% static 'briefcv/img/切圖/履歷表\模板3：條列式\文字-09.png' %}" >
    <div id="add_box_1">
        
        <img class="box" src="{% static 'briefcv/img/切圖/履歷表\模板3：條列式\選擇框.png' %}">
        <img id="choice_7" src="{% static 'briefcv/img/切圖/履歷表\功能\已選擇.png' %}">
        <img id="choice_8" src="{% static 'briefcv/img/切圖/履歷表\功能\已選擇.png' %}">
        
        <div class="se_photo" onmousemove="se_photo();" onmouseout="se_photo_1();" onclick="se_photo_box();"></div>
        <div class="se_tex" onmousemove="se_tex();" onmouseout="se_tex_1();" onclick="se_tex_box();">
        </div>
        
    </div>
   

    <div id="clear_box">
        <img class="box" src="{% static 'briefcv/img/切圖/履歷表\功能\清內容.png' %}">
        <img id="choice_1" src="{% static 'briefcv/img/切圖/履歷表\功能\已選擇.png' %}">
        <img id="choice_2" src="{% static 'briefcv/img/切圖/履歷表\功能\已選擇.png' %}">
        <div class="confirm_delete" onmousemove="confirm_delete_1();" onmouseout="confirm_delete_2();"></div>
        <div class="undelete" onmousemove="undelete_1();" onmouseout="undelete_2();" onclick="closeclear();"></div>
    </div>

    <div id="delete_box">
        <img class="box" src="{% static 'briefcv/img/切圖/履歷表\功能\刪除此頁.png' %}">
        <img id="choice_3" src="{% static 'briefcv/img/切圖/履歷表\功能\已選擇.png' %}">
        <img id="choice_4" src="{% static 'briefcv/img/切圖/履歷表\功能\已選擇.png' %}">
        <div class="confirm_delete" onmousemove="confirm_delete_3();" onmouseout="confirm_delete_4();"></div>
        <div class="undelete" onmousemove="undelete_3();" onmouseout="undelete_4();" onclick="closedelete();"></div>
    </div>

    <div id="exit_box">
        <img class="box" src="{% static 'briefcv/img/切圖/履歷表\功能\離開.png' %}">
        <img id="choice_5" src="{% static 'briefcv/img/切圖/履歷表\功能\已選擇.png' %}">
        <img id="choice_6" src="{% static 'briefcv/img/切圖/履歷表\功能\已選擇.png' %}">
        <div class="confirm_delete" onmousemove="savebt();" onmouseout="savebt_1();"></div>
        <div class="undelete" onmousemove="exitbt();" onmouseout="exitbt_1();"></div>
    </div>

</body>

</html>
{% endblock %}