<!DOCTYPE html>
{% load static %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&amp;display=swap" rel="stylesheet" />
    <TITLE>第{{Page.iPageNumber}}頁　{% block title %}{% endblock %}</TITLE>
    <style>
        body {
            padding: 0%;
            margin: 0;
            overflow: hidden;
            font-family: 'Noto Sans TC', '微軟正黑體', 'Microsoft JhengHei', sans-serif;
        }

        a {
            text-decoration: none;
        }

        .BG {
            position: absolute;
            width: 100%;
            height: 100%;
        }

        .top {
            position: absolute;
            width: 100%;
            height: 10.088888%;
        }

        #logo {
            position: absolute;
            width: 6.2%;
            height: 15.3%;
            left: 1.785%;
            top: 3.45%;
            background-image: url("{% static 'article/img/論壇/LOGO.png' %}");
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }

        #person {
            position: absolute;
            width: auto;
            height: 5.0666%;
            top: 3%;
            right: 19%;
        }
        
        #person span {
            position: relative;
            bottom: 35%;
            font-size: 12pt;
            color: #ffffff;
        }
        
        #person img {
            position: relative;
            width: 30px;
            height: 100%;
            border-radius: 50%;
            border: #ecd7ff 1.5px solid;
        }

        #board_bt {
            position: absolute;
            top: 4.1%;
            right: 15.5%;
            width: 2.6%;
            height: 2.755555%;
            background-image: url("{% static 'activitygroup/img/活動群組/論壇ICON01.png' %}");
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
        
        #activity_bt {
            position: absolute;
            top: 3%;
            right: 12%;
            width: 2.6%;
            height: 5.06666%;
            background-image: url("{% static 'article/img/論壇/活動群組.png' %}");
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }

        #cv_bt {
            position: absolute;
            top: 3%;
            right: 8.5%;
            width: 2.6%;
            height: 5.06666%;
            background-image: url("{% static 'article/img/論壇/公開履歷.png' %}");
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
        
        #notice_bar {
            position: absolute;
            top: 2.6%;
            right: 1.2%;
            width: 18%;
            height: 92%;
            background-image: url("{% static 'article/img/論壇/通知/通知底.png' %}");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            display: none;
        }

        #notice {
            position: absolute;
            top: 3.9%;
            right: 5%;
            width: 2.65%;
            height: 2.755555%;
            cursor: pointer;
        }
        
        #set_bar {
            position: absolute;
            top: 2.6%;
            right: 1.3%;
            width: 10%;
            height: 92%;
            background-image: url("{% static 'article/img/論壇/功能列/功能列底.png' %}");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            display: none;
        }

        #set {
            position: absolute;
            top: 4%;
            right: 2%;
            width: 1.75%;
            height: 2.311111%;
            cursor: pointer;
        }

        .function_choice {
            position: relative;
            top: 9%;
            width: 100%;
            height: 27px;
        }
        
        .function_choice:hover {
            background-image: url("{% static 'article/img/論壇/功能列/功能列選單選定.png' %}");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            cursor: pointer;
        }
        
        .function_choice a,
        .function_choice span {
            position: absolute;
            right: 7%;
            font-size: 13pt;
            font-weight: 700;
            color: #ffffff;
        }

        #eye_1 {
            position: absolute;
            top: 10.5%;
            right: 19%;
            width: 1.675%;
            height: 1.8%;
            cursor: pointer;
        }

        #eye_2 {
            position: absolute;
            top: 10.5%;
            right: 19%;
            width: 1.675%;
            height: 1.8%;
            cursor: pointer;
            display: none;

        }

        #last_1 {
            position: absolute;
            top: 10%;
            right: 17%;
            width: 1.3%;
            height: 2.35555%;
            cursor: pointer;
            
        }
        #last_2 {
            position: absolute;
            top: 10%;
            right: 17%;
            width: 1.3%;
            height: 2.35555%;
            cursor: pointer;

        }

        .add_1 {
            position: absolute;
            top: 10%;
            right: 14.2%;
            width: 1.725%;
            height: 2.355555%;
            cursor: pointer;

        }

        .add_2 {
            position: absolute;
            top: 17%;
            right: 14.2%;
            width: 1.6%;
            height: 3.5%;
            cursor: pointer;

            
        }
        .add_3 {
            position: absolute;
            top: 13.5%;
            right: 13.4%;
            width: 2.5%;
            height: 2.4%;
            cursor: pointer;
        }
        .delete {
            position: absolute;
            top: 10%;
            right: 11.5%;
            width: 1.725%;
            height: 2.35555%;
            cursor: pointer;
        }

        .clear {
            position: absolute;
            top: 10%;
            right: 9.4%;
            width: 1.275%;
            height: 2.311111%;
            cursor: pointer;
        }

        .print {
            position: absolute;
            top: 10%;
            right: 6.5%;
            width: 1.825%;
            height: 3.333333%;
            cursor: pointer;
        }

        #save_1 {
            position: absolute;
            top: 10%;
            right: 4.2%;
            width: 1.3%;
            height: 2.31111%;
            cursor: pointer;
        }
        #save_2 {
            position: absolute;
            top: 10%;
            right: 4.2%;
            width: 1.3%;
            height: 2.31111%;
            display: none;
        }

        .exit_1 {
            position: absolute;
            top: 10%;
            right: 2%;
            width: 1.3%;
            height: 2.31111%;
            cursor: pointer;
        }

        #color_1 {
            position: absolute;
            top: 88%;
            right: 2%;
            width: 2.675%;
            height: 2.622222%;
            cursor: pointer;
            
        }

        #color_2 {
            position: absolute;
            top: 88%;
            right: 2%;
            width: 2.675%;
            height: 2.622222%;
            cursor: pointer;
            display: none;
 
        }

        .add_4 {
            position: absolute;
            top: 94.4%;
            right: 2%;
            width: 2.675%;
            height: 3%;
            cursor: pointer;
        }

        .last_style{
            position: absolute;
            top: 50%;
            left: 4%;
            width: 2.5%;
            height: 3.33333%;
            cursor: pointer;
        }

        .next_style{
            position: absolute;
            top: 50%;
            right: 4%;
            width: 2.5%;
            height: 3.33333%;
            cursor: pointer;
        }

        #clear_box {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: ;
            display: none;
        }

        .box {
            position: absolute;
            top: 42%;
            left: 39%;
            width: 22.525%;
            height: 17.022222%;
        }

        .confirm_delete {
            position: absolute;
            top: 50.2%;
            left: 43.5%;
            width: 6%;
            height: 5%;
            cursor: pointer;
        }

        .undelete {
            position: absolute;
            top: 50.2%;
            left: 50.5%;
            width: 6%;
            height: 5%;
            cursor: pointer;
        }

        #choice_1 {
            position: absolute;
            top: 51.5%;
            left: 43.9%;
            width: 1.6%;
            height: 2.84444%;
            display: none;
        }

        #choice_2 {
            position: absolute;
            top: 51.5%;
            left: 50.8%;
            width: 1.575%;
            height: 2.8%;
            display: none;
        }

        #delete_box {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: ;
            display: none;
        }

        #choice_3 {
            position: absolute;
            top: 51.5%;
            left: 43.9%;
            width: 1.6%;
            height: 2.84444%;
            display: none;
        }

        #choice_4 {
            position: absolute;
            top: 51.5%;
            left: 50.8%;
            width: 1.575%;
            height: 2.8%;
            display: none;
        }

        #exit_box {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: ;
            display: none;
        }

        #choice_5 {
            position: absolute;
            top: 51.5%;
            left: 43.9%;
            width: 1.6%;
            height: 2.84444%;
            display: none;
        }

        #choice_6 {
            position: absolute;
            top: 51.5%;
            left: 50.8%;
            width: 1.575%;
            height: 2.8%;
            display: none;
        }
        #color1 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: ;
            display: none;
        }
        #color2 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: ;
            display: none;
        }

        .close {
            position: absolute; 
            top: -15px; 
            right: -15px;
            width:30px;
            height:30px;
            cursor: pointer;
            opacity: 0.05;
            background-image: url("{% static 'briefcv/img/切圖/履歷表/功能/資料刪除ICON.png' %}");
            background-size: contain;
        }
        .close:hover {opacity: 1}

        
    </style>
    <script type="text/javascript">
        var choice;
        var bar;

        function function_bar() {
            bar = document.getElementById("set_bar");
            if (bar.style.display == "block") {
                bar.style.display = "none";
            } else {
                bar.style.display = "block"
            }
        }

        function notice_bar() {
            bar = document.getElementById("notice_bar");
            if (bar.style.display == "block") {
                bar.style.display = "none";
            } else {
                bar.style.display = "block"
            }
        }
        function confirm_delete_1() {
            choice = document.getElementById('choice_1');
            choice.style.display = 'block';
        }
        function undelete_1() {
            choice = document.getElementById('choice_2');
            choice.style.display = 'block';
        }
        function confirm_delete_2() {
            choice = document.getElementById('choice_1');
            choice.style.display = 'none';
        }
        function undelete_2() {
            choice = document.getElementById('choice_2');
            choice.style.display = 'none';
        }
        function clear_box() {
            choice = document.getElementById('clear_box');
            choice.style.display = 'block';
        }
        function closeclear() {
            choice = document.getElementById('clear_box');
            choice.style.display = 'none';
        }
        function confirm_delete_3() {
            choice = document.getElementById('choice_3');
            choice.style.display = 'block';
        }
        function undelete_3() {
            choice = document.getElementById('choice_4');
            choice.style.display = 'block';
        }
        function confirm_delete_4() {
            choice = document.getElementById('choice_3');
            choice.style.display = 'none';
        }
        function undelete_4() {
            choice = document.getElementById('choice_4');
            choice.style.display = 'none';
        }
        function delete_box() {
            choice = document.getElementById('delete_box');
            choice.style.display = 'block';
        }
        function closedelete() {
            choice = document.getElementById('delete_box');
            choice.style.display = 'none';
        }
        function savebt() {
            choice = document.getElementById('choice_5');
            choice.style.display = 'block';
        }
        function exitbt() {
            choice = document.getElementById('choice_6');
            choice.style.display = 'block';
        }
        function savebt_1() {
            choice = document.getElementById('choice_5');
            choice.style.display = 'none';
        }
        function exitbt_1() {
            choice = document.getElementById('choice_6');
            choice.style.display = 'none';
        }
        function exit_box() {
            choice = document.getElementById('exit_box');
            choice.style.display = 'block';
        }
        function color1() {
            document.getElementById('color_1').style.display = 'none'; //讓深色被隱藏
            document.getElementById('color_2').style.display = 'block'; //讓淺色顯示
        }

        function color2() {
            document.getElementById('color_1').style.display = 'block'; //讓深色顯示
            document.getElementById('color_2').style.display = 'none'; //讓淺色被隱藏
        }
        function eye_1() {
            document.getElementById('eye_1').style.display = 'none'; //讓公開被隱藏
            document.getElementById('eye_2').style.display = 'block'; //讓隱私顯示
            document.getElementById('dir').style.display = 'block';
        }

        function eye_2() {
            document.getElementById('eye_1').style.display = 'block'; //讓公開顯示
            document.getElementById('eye_2').style.display = 'none'; //讓隱私被隱藏
            document.getElementById('dir').style.display = 'none';
        }

        function test3() {
            choice = document.getElementById('test3');
            choice.style.display = 'block';

        }
        function goBack() {
            document.getElementById('last_1').style.display = 'none'; 
            document.getElementById('last_2').style.display = 'block';
        }
        function save(leave=0) {
            document.getElementById('save_1').style.display = 'none'; 
            document.getElementById('save_2').style.display = 'block';

            form = document.getElementById('m');
            form.method = "POST";
            if (leave==1){
                l = document.createElement("input");
                l.type = 'hidden';
                l.value = leave
                l.name = 'leave';
                form.appendChild(l)
            }
            //form.action = "saveBCV";
            form.submit()
        }
        
        function add_1() {
            if (document.getElementById('add_button').style.display == 'none') {
                document.getElementById('add_button').style.display = 'block'; 
            }else{
                document.getElementById('add_button').style.display = 'none'; 
            }
            
            
        }
        function add_2() {
            document.getElementById('save_1').style.display = 'none'; 
            document.getElementById('save_2').style.display = 'block';
        }
        function close_exit() {
            choice = document.getElementById('exit_box');
            choice.style.display = 'none';
        }
        
    </script>
</head>

<body>
    {% block content %}{% endblock %}

    <img class="top" src="{% static 'briefcv/img/切圖\履歷表\功能\網頁頭.png' %}">
    <a href="#" id="logo"></a>

    {%if user in userList%}
    <div id="person">
        <img src="{% if user.userinfo.imageAvatar %}{{user.userinfo.imageAvatar.url}}{% endif %}">
        <span>{{user.username}}</span>
    </div>
    {%endif%}
    
    <a href="/board/" id="board_bt"></a>
    <a href="/activitygroup/" id="activity_bt"></a>
    <a href="/cv/public" id="cv_bt"></a>

    <div id="notice_bar">
        <!-- 通知列尚未完成 -->
    </div>
    <img id="notice" src="{% static 'article/img/論壇/通知.png' %}" onclick="notice_bar();">

    
<!-->功能列<-->

    <img class="add_1" src="{% static 'briefcv/img/切圖\履歷表\功能\新增頁面ICON.png' %}" onclick="add_1()" style="right: 11.5%;">

    <img class="add_4" src="{% static 'briefcv/img/切圖\履歷表\功能\資料新增ICON.png' %}" onclick="add_data(this) ">
    <img class="delete" onclick="delete_box();" src="{% static 'briefcv/img/切圖\履歷表\功能\刪除此頁ICON.png' %}" style="right: 8.7%;">
    <img class="clear" onclick="clear_box();" src="{% static 'briefcv/img/切圖\履歷表\功能\清內容ICON.png' %}" style="right: 6.5%;">
    <img id="save_1" src="{% static 'briefcv/img/切圖\履歷表\功能\儲存ICON(no).png' %}" onclick="save()" >
    <img id="save_2" src="{% static 'briefcv/img/切圖\履歷表\功能\儲存ICON(yes).png' %}" > 
    <img class="exit_1" onclick="exit_box();" src="{% static 'briefcv/img/切圖\履歷表\功能\離開ICON.png' %}">

<!-->未使用<-->    
    <!--img id="eye_1" src="{% static 'briefcv/img/切圖\履歷表\功能\公開隱藏ICON(公開).png' %}" onclick="eye_1();">
    <img id="eye_2" src="{% static 'briefcv/img/切圖\履歷表\功能\公開隱藏ICON(隱藏).png.png' %}" onclick="eye_2();">
    
    <img id="last_2" src="{% static 'briefcv/img/切圖\履歷表\功能\上一頁ICON(no).png' %}">
    <img id="last_1" onclick="goBack()" src="{% static 'briefcv/img/切圖\履歷表\功能\上一頁ICON(yes).png' %}" -->
    <!--img class="print" src="{% static 'briefcv/img/切圖\履歷表\功能\列印ICON.png' %}"-->
    <!--img id="color_1" src="{% static 'briefcv/img/切圖\履歷表\功能\主題底色ICON-深色.png' %}" onclick="color1();" />
    <img id="color_2" src="{% static 'briefcv/img/切圖\履歷表\功能\主題底色ICON-淺色.png.png' %}" onclick="color2();" /-->

    <!-- <img class="unread" src="{% static 'briefcv/img/切圖\履歷表\功能\顯示未讀.png' %}" > -->



    <img class="last_style" onclick="location.href = location.href+'nextmould/-1'" src="{% static 'briefcv/img/切圖\履歷表\功能\上一組模板.png' %}" >
    <img class="next_style" onclick="location.href = location.href+'nextmould/1'" src="{% static 'briefcv/img/切圖\履歷表\功能\下一組模板ICON.png' %}" >
    

    <div id="add_button" style='display: none;'>
        <img class="add_2" src="{% static 'briefcv/img/切圖\履歷表\功能\新增頁面-下一頁.png' %}" onclick="location.href = '../0/newpage/'" style="right: 11.7%;">
        <img class="add_3" src="{% static 'briefcv/img/切圖\履歷表\功能\新增頁面-下一層.png' %}" onclick="location.href = './newpage/'" style="right: 10.78%;">
    </div>


    <div id="clear_box">
        <img class="box" src="{% static 'briefcv/img/切圖\履歷表\功能\清內容.png' %}">
        <img id="choice_1" src="{% static 'briefcv/img/切圖\履歷表\功能\已選擇.png' %}">
        <img id="choice_2" src="{% static 'briefcv/img/切圖\履歷表\功能\已選擇.png' %}">
        <div class="confirm_delete" onmousemove="confirm_delete_1();" onmouseout="confirm_delete_2();" onclick="location.href = './nextmould/clr'"></div>
        <div class="undelete" onmousemove="undelete_1();" onmouseout="undelete_2();" onclick="closeclear();"></div>
    </div>

    <div id="delete_box">
        <img class="box" src="{% static 'briefcv/img/切圖\履歷表\功能\刪除此頁.png' %}">
        <img id="choice_3" src="{% static 'briefcv/img/切圖\履歷表\功能\已選擇.png' %}">
        <img id="choice_4" src="{% static 'briefcv/img/切圖\履歷表\功能\已選擇.png' %}">
        <div class="confirm_delete" onmousemove="confirm_delete_3();" onmouseout="confirm_delete_4();" onclick="location.href = location.href+'nextmould/d'"></div>
        <div class="undelete" onmousemove="undelete_3();" onmouseout="undelete_4();" onclick="closedelete();"></div>
    </div>

    <div id="exit_box">
        
        <img class="box" src="{% static 'briefcv/img/切圖\履歷表\功能\離開.png' %}">
        <img id="choice_5" src="{% static 'briefcv/img/切圖\履歷表\功能\已選擇.png' %}">
        <img id="choice_6" src="{% static 'briefcv/img/切圖\履歷表\功能\已選擇.png' %}">
        <div class="confirm_delete" onmousemove="savebt();" onmouseout="savebt_1();" onclick="save(1);"></div>
        <div class="undelete" onmousemove="exitbt();" onmouseout="exitbt_1();" onclick="location.href='/briefcv/mycv/'"></div>
    </div>

    <!--div id="dir" style="position: absolute; background-color:rgba(0,0,0,0.5); border:1px white solid; top:80%; left:90%; width: 10%; height: 10%; display:block;"-->
        <img class="dir" src="{% static 'briefcv\img\切圖\履歷表\方向鍵\上頁.png' %}" style='position: absolute; top:74.666%; right:4.6%; width:1.8%; height:2%; opacity: 0.2;' >

        <img class="dir" src="{% static 'briefcv\img\切圖\履歷表\方向鍵\左頁.png' %}" style='position: absolute; top:78.5%; right:7.666%; width:1%; height:3%; opacity: 0.2;'>

        <img class="dir" src="{% static 'briefcv\img\切圖\履歷表\方向鍵\右頁.png' %}" style='position: absolute; top:78.5%; right:2.333%; width:1%; height:3%; opacity: 0.2;'>

        <img class="dir" src="{% static 'briefcv\img\切圖\履歷表\方向鍵\下頁.png' %}" style='position: absolute; top:83.333%; right:4.6%; width:1.8%; height:2%; opacity: 0.2; '>

        <img id="dir" src="{% static 'briefcv\img\切圖\履歷表\方向鍵\履歷總覽.png' %}" style="opacity: 0.5;">
        <style type="text/css">
            #dir{
                position: absolute; 
                top:78%; 
                right:4%; 
                width:3%; 
                height: 4%; 
                opacity: 0.5;
                //cursor: pointer;
            }
            #dir:hover{
                opacity: 1;
            }
        </style>
        <script type="text/javascript">
            function nextpage(){
                var Pageno = {{Pageno}};
                var Pages = '{{Pages}}'.slice(1,-1).replaceAll('&#39;','').split(', ');
                var nextpage = [`${ Pageno[0]-1 }-1`,`${ Pageno[0] }-${ Pageno[1]-1 }`,`${ Pageno[0] }-${ Pageno[1]+1 }`,`${ Pageno[0]+1 }-1`];
                var arrow = document.getElementsByClassName('dir')
                for (i=0;i<4;i++){
                    if(Pages.indexOf(nextpage[i]) != -1){
                        arrow[i].style.cursor = 'pointer';
                        arrow[i].style.opacity = '1';
                        arrow[i].name = nextpage[i];
                        arrow[i].onclick = function(){location.href = `../${this.name}/`};
                    }
                    
                }
                if (Pages.indexOf(nextpage[2]) != -1){
                    rdmore = document.getElementById('readmore')
                    rdmore.style.display = 'block';
                    rdmore.style.cursor = 'pointer';
                    rdmore.name = nextpage[2];
                    rdmore.onclick = function(){location.href = `../${this.name}/`};
                }
            }
            nextpage();
        </script>
    <!--/div-->
<!-->功能列<-->
    <div id="set_bar">
        {%if user in userList%}
        <div class="function_choice"><a href="{% url 'user' %}">個人頁面</a></div>
        <div class="function_choice"><a href="/cv/">履歷管理</a></div>
        <!-- <div class="function_choice"><span>主題變色</span></div>
        <div class="function_choice"><span>音樂</span></div> -->
        <div class="function_choice"><a href="/change_password/">變更密碼</a></div>
        <div class="function_choice"><a href="{% url 'logout' %}">登出</a></div>
        {%else%}
        <div class="function_choice"><a href="{% url 'login' %}">登入</a></div>
        {%endif%}
    </div>
    <img id="set" src="{% static 'article/img/論壇/功能列-02.png' %}" onclick="function_bar();">

</body>

</html>