<style>
	a {
		font-family: 'Open Sans', Arial, sans-serif;
		font-size: 13px;
		text-decoration: none;
		color: black;
		line-height: 30px;
	}

	ul {
		/* 取消ul預設的內縮及樣式 */
		margin: 0;
		padding: 0;
		list-style: none;
	}

	ul.set {
		font-family: 'Open Sans', Arial, sans-serif;
		font-size: 13px;
		display: none;
		background-color: rgb(255, 255, 255);
		border-radius: 5px;
	}

	ul.set li {
		position: relative;
		margin: 0px 0px 10px 10px;
		right: 0%;
		white-space: nowrap;
		/*遇空白不換行 直到遇到 <br> 標籤為止*/
	}

	ul.set li:hover {
		background-color: #58595c;
		color: #fff;
	}

	ul.set a {
		font-family: 'Open Sans', Arial, sans-serif;
		font-size: 13px;
		text-decoration: none;
		color: black;
		padding: 5px;
		line-height: 30px;
	}

	ul.set a:hover {
		color: #fff;
	}

	#bg {
		background-color: #fff;
		color: black;
	}

	ul.notice {
		font-family: 'Open Sans', Arial, sans-serif;
		font-size: 13px;
		display: none;
		background-color: rgb(255, 255, 255);
		border-radius: 5px;
	}

	ul.notice li {
		position: relative;
		white-space: nowrap;
		/*遇空白不換行 直到遇到 <br> 標籤為止*/
	}

	ul.notice a:hover {
		/* 滑鼠滑入按鈕變色*/
		background-color: #58595c;
		color: #fff;
	}

	body::-webkit-scrollbar {
		display: none;
	}

	#topButton {
		position: absolute;
		left: 17%;
		top: 20%;
	}

	.button {
		padding: 5px 10px;
		margin-right: 5px;
		background-color: black;
		color: white;
		border: 0 none;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		cursor: pointer;
	}

	.button:hover {
		color: rgb(161, 161, 161);
	}

	#content {
		position: fixed;
		top: 28%;
		left: 17%;
		width: 65%;
		height: 71%;
		overflow: scroll;
	}

	#content::-webkit-scrollbar {
		display: none;
	}
</style>
<script>
	var set, notice;
	function a() {
		notice = document.getElementById("notice");
		if (notice.style.display == "block") {
			notice.style.display = "none";
		}
		else {
			notice.style.display = "block"
		}
	}
	function b() {
		set = document.getElementById("set");
		if (set.style.display == "block") {
			set.style.display = "none";
		}
		else {
			set.style.display = "block";
		}
	}
</script>
<div id="topButton">
	<input type="button" value="1.學業成績" onclick="location.href='/tea/1'" class="button">
	<input type="button" value="2.教學實務能力檢測" onclick="location.href='/tea/2'" class="button">
	<input type="button" value="3.服務學習" onclick="location.href='/tea/3'" class="button">
	<input type="button" value="4.義務輔導時數" onclick="location.href='/tea/4'" class="button">
	<input type="button" value="5.校內外工作坊//研習" onclick="location.href='/tea/5'" class="button">
	<input type="button" value="7.填報個人學習及服務歷程檔案" onclick="location.href='/tea/7'" class="button">
</div>

<div id="content">
	{% block content %}
	{% endblock %}
</div>

<div style="position:fixed;left:70%;top:5%;">
	<a onclick="a();" style="cursor: pointer;">通知</a>
	<ul class="notice" id="notice">
		<li><a href="#">...</a></li>
		<li><a href="#">...</a></li>
		<li><a href="#">...</a></li>
		<li><a href="#">...</a></li>
	</ul>
</div>
<div style="position:fixed;left:80%;top:5%;">
	<a onclick="b();" style="cursor: pointer;">設定</a>
	<ul class="set" id="set">
		<li id="bg">Hi!{{ user.username }}</li>
		<li><a href="{% url 'user' %}">個人頁面</a></li>
		<li><a href="{% url 'totalcv manage' %}">履歷管理</a></li>
		<li><a href="#">背景音樂</a></li>
		<li><a href="{% url 'logout' %}">登出</a></li>
	</ul>
</div>