{% extends "teascholarship/tea_base.html" %}
{% block content %}
<style>
	
</style>
<div id="item">
	{{sItemName}}<br>
	<p>
		說明：
		<ol>
			{% for detail in sDescription %}
			<li>{{detail}}</li>
			{% endfor %}
		</ol>
	</p>
	{% if sNote %}
	<p>備註：{{sNote}}</p>
	{% endif %}
	{% if yearly %}
	<p>檢核時間：每學年</p>
	<div>
		書面資料確認：<br>
		<ol>
		{% for item in items %}
		<li>{{item.0}} -> 狀態 : [{{item.1}}]</li>
		{% endfor %}
		</ol>		
	</div>
	{% endif %}

	{% if up %}
	<p>檢核時間：上學期</p>
	<div>
		書面資料確認：<br>
		<ol>
		{% for item in items_a %}
		<li>{{item.0}} -> 狀態 : [{{item.1}}]</li>
		{% endfor %}
		</ol>		
	</div>
	{% endif %}


	{% if down %}
	<p>檢核時間：下學期</p>
	<div>
		書面資料確認：<br>
		<ol>
		{% for item in items_b %}
		<li>{{item.0}} -> 狀態 : [{{item.1}}]</li>
		{% endfor %}
		</ol>		
	</div>
	{% endif %}

</div>
<hr>
<div id="file">
	已上傳的檔案：<br>
	<form action="" method="POST">{% csrf_token %}
	<ul>
	{% for file in fileList %}
	<li>
		<a href="{{file.file.url}}">{{file.sName}}</a>
		<input type="checkbox" name="checkedfiles" value="{{file.pk}}"><br>
		檔案敘述：{{file.sDescription}}<br>
		檔案審查意見：{% if file.sSuggestion %} {{file.sSuggestion}} {% endif %}
	</li>
	{% endfor %}		
	</ul>
	<input type="submit" value="刪除已勾選">
	</form>

</div>
<hr>
檔案上傳：<br>
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="提交">
</form>
{% endblock %}