{% extends "teascholarship/tea_base.html" %}
{% block content %}
<div>
	{{sItemName1}}<br>
	<p>說明：{{sDescription1}}</p>
	<p>備註：{{sNote1}}</p>
	<p>檢核時間：上學期</p>
	<div>
		書面資料確認：<br>
		<ol>
		{% for item in listItems1 %}
		<li>{{item}} -> 狀態 : [{{tea1.get_sStatus_display}}]</li>
		{% endfor %}
		</ol>
	</div>
</div>
<hr>
<div>
	{{sItemName2}}<br>
	<p>說明：{{sDescription2}}</p>
	<p>備註：{{sNote2}}</p>
	<p>檢核時間：每學年</p>
	<div>
		書面資料確認：<br>
		<ol>
		<li>{{listItems2.0}} -> 狀態 : [{{tea2.get_sStatus_1_display}}]</li>
		<li>{{listItems2.1}} -> 狀態 : [{{tea2.get_sStatus_2_display}}]</li>
		</ol>
	</div>
</div>
<hr>
<div>
	{{sItemName3}}<br>
	<p>說明：{{sDescription3}}</p>
	<p>備註：{{sNote3}}</p>
	<p>檢核時間：上學期</p>
	<div>
		書面資料確認：<br>
		<ol>
		<li>{{listItems3.0}} -> 狀態 : [{{tea3.get_sStatus_1_display}}]</li>
		<li>{{listItems3.1}} -> 狀態 : [{{tea3.get_sStatus_2_display}}]</li>
		</ol>
	</div>
</div>
<hr>
<div>
	{{sItemName4}}<br>
	<p>說明：{{sDescription4}}</p>
	<p>備註：{{sNote4}}</p>
	<p>檢核時間：每學期</p>
	<div>
		上學期<br>
		書面資料確認：<br>
		<ol>
		<li>{{listItems4.0}} -> 狀態 : [{{tea4a.get_sStatus_1_display}}]</li>
		<li>{{listItems4.1}} -> 狀態 : [{{tea4a.get_sStatus_2_display}}]</li>
		<li>{{listItems4.2}} -> 狀態 : [{{tea4a.get_sStatus_3_display}}]</li>
		<li>{{listItems4.3}} -> 狀態 : [{{tea4a.get_sStatus_4_display}}]</li>
		</ol>
	</div>
	<div>
		下學期<br>
		書面資料確認：<br>
		<ol>
		<li>{{listItems4.0}} -> 狀態 : [{{tea4b.get_sStatus_1_display}}]</li>
		<li>{{listItems4.1}} -> 狀態 : [{{tea4b.get_sStatus_2_display}}]</li>
		<li>{{listItems4.2}} -> 狀態 : [{{tea4b.get_sStatus_3_display}}]</li>
		<li>{{listItems4.3}} -> 狀態 : [{{tea4b.get_sStatus_4_display}}]</li>
		</ol>
	</div>
</div>
<hr>
<div>
	{{sItemName5}}<br>
	<p>說明：{{sDescription5}}</p>
	<p>備註：{{sNote5}}</p>
	<p>檢核時間：每學期</p>
	<div>
		上學期<br>
		書面資料確認：<br>
		<ol>
		<li>{{listItems5.0}} -> 狀態 : [{{tea5a.get_sStatus_1_display}}]</li>
		<li>{{listItems5.1}} -> 狀態 : [{{tea5a.get_sStatus_2_display}}]</li>
		<li>{{listItems5.2}} -> 狀態 : [{{tea5a.get_sStatus_3_display}}]</li>
		</ol>
	</div>
	<div>
		下學期<br>
		書面資料確認：<br>
		<ol>
		<li>{{listItems5.0}} -> 狀態 : [{{tea5b.get_sStatus_1_display}}]</li>
		<li>{{listItems5.1}} -> 狀態 : [{{tea5b.get_sStatus_2_display}}]</li>
		<li>{{listItems5.2}} -> 狀態 : [{{tea5b.get_sStatus_3_display}}]</li>
		</ol>
	</div>
</div>
<hr>
<div>
	{{sItemName7}}<br>
	<p>說明：{{sDescription7}}</p>
	<p>備註：{{sNote7}}</p>
	<p>檢核時間：每學期</p>
	<div>
		上學期<br>
		書面資料確認：<br>
		<ol>
		<li>{{listItems7.0}} -> 狀態 : [{{tea7a.get_sStatus_1_display}}]</li>
		<li>{{listItems7.1}} -> 狀態 : [{{tea7a.get_sStatus_2_display}}]</li>

		</ol>
	</div>
	<div>
		下學期<br>
		書面資料確認：<br>
		<ol>
		<li>{{listItems7.1}} -> 狀態 : [{{tea7b.get_sStatus_2_display}}]</li>
		</ol>
	</div>
</div>

{% endblock %}