<h1>{{student}}的師獎生檢核表</h1>
<table border="1">
	<tr>
		<th>項目名稱</th>
		<th>待審項目</th>
		<th>上傳檔案</th>
		<th>審查意見</th>
	</tr>
	{% for item in itemList %}
	<tr>
		<td>{{item.0}}</td>
		<td>
		{% for status in item.1 %}		
			名稱：{{status.0}}<br>
			狀態：{{status.1}}<p>	
		{% endfor %}
		</td>
		<td>
		{% for file in item.2 %}
			<a href="{{file.0}}">{{file.1}}</a><br> 
			檔案敘述：{{file.2}}<br>
			審查意見：{{file.3}}<p>
		{% endfor %}
		</td>
		<td>{{item.3}}</td>
	{% endfor %}
	</tr>
</table>