body {
    padding: 0%;
    margin: 0%;
    font-family: 'Noto Sans TC', '微軟正黑體', 'Microsoft JhengHei', sans-serif;
}

.BG {
    position: absolute;
    width: 100%;
    height: 100%;
}

.top {
    position: absolute;
    width: 100%;
    height: 10.088888%;
    background: url("切圖/履歷表/功能/網頁頭.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.logo {
    position: absolute;
    top: 3.5%;
    left: 1.8%;
    width: 6.225%;
    height: 15.37777777%;
    background-image: url("切圖/履歷表/功能/LOGO-07.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.person {
    position: absolute;
    top: 3%;
    right: 15.5%;
    width: 7.275%;
    height: 5.28888%;
    background-image: url("切圖/履歷表/功能/個人頁面ICON.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.activity {
    position: absolute;
    top: 3%;
    right: 12%;
    width: 2.6%;
    height: 5.06666%;
    background-image: url("切圖/履歷表/功能/活動群組ICON.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.cv {
    position: absolute;
    top: 3%;
    right: 8.5%;
    width: 2.6%;
    height: 5.06666%;
    background-image: url("切圖/履歷表/功能/履歷表ICON.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.notice {
    position: absolute;
    top: 3.9%;
    right: 5%;
    width: 2.65%;
    height: 2.755555%;
    background-image: url("切圖/履歷表/功能/通知ICON.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.set {
    position: absolute;
    top: 4%;
    right: 2%;
    width: 1.75%;
    height: 2.311111%;
    background-image: url("切圖/履歷表/功能/設定ICON.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.eye_1 {
    position: absolute;
    top: 10.5%;
    right: 19%;
    width: 1.675%;
    height: 1.8%;
    background-image: url("切圖/履歷表/功能/公開隱藏ICON(公開).png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.last {
    position: absolute;
    top: 10%;
    right: 17%;
    width: 1.3%;
    height: 2.35555%;
    background-image: url("切圖/履歷表/功能/上一頁ICON(no).png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.add_1 {
    position: absolute;
    top: 10%;
    right: 14.2%;
    width: 1.725%;
    height: 2.355555%;
    background-image: url("切圖/履歷表/功能/新增頁面ICON.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.delete {
    position: absolute;
    top: 10%;
    right: 11.5%;
    width: 1.725%;
    height: 2.35555%;
    background-image: url("切圖/履歷表/功能/刪除此頁ICON.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.clear {
    position: absolute;
    top: 10%;
    right: 9.4%;
    width: 1.275%;
    height: 2.311111%;
    background-image: url("切圖/履歷表/功能/清內容ICON.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.print {
    position: absolute;
    top: 10%;
    right: 6.5%;
    width: 1.825%;
    height: 3.333333%;
    background-image: url("切圖/履歷表/功能/列印ICON.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.save_1 {
    position: absolute;
    top: 10%;
    right: 4.2%;
    width: 1.3%;
    height: 2.31111%;
    background-image: url("切圖/履歷表/功能/儲存ICON(no).png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.exit_1 {
    position: absolute;
    top: 10%;
    right: 2%;
    width: 1.3%;
    height: 2.31111%;
    background-image: url("切圖/履歷表/功能/離開ICON.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.add_4 {
    position: absolute;
    top: 94.4%;
    right: 2%;
    width: 1.725%;
    height: 3.066666%;
    background-image: url("切圖/履歷表/功能/資料新增ICON.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.last_style {
    position: absolute;
    top: 50%;
    left: 4%;
    width: 2.5%;
    height: 3.33333%;
    background-image: url("切圖/履歷表/功能/上一組模板.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.next_style {
    position: absolute;
    top: 50%;
    right: 4%;
    width: 2.5%;
    height: 3.33333%;
    background-image: url("切圖/履歷表/功能/下一組模板ICON.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.title1 {
    position: absolute;
    top: 24%;
    left: 26%;
    width: 600px;
    height: 80px;
    font-size: 40pt;
    font-weight: bolder;
    text-align: center;
    background-color: transparent;
    color: #ffffff;
    padding: 0;
    margin: 0;
    border: 1px solid rgba(255, 255, 255, 0.534);
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 10px;
}

.content1 {
    position: absolute;
    top: 42%;
    left: 26%;
    width: 600px;
    height: 210px;
    font-size: 15pt;
    font-weight: 100;
    background-color: transparent;
    color: #ffffff;
    padding: 0;
    margin: 0;
    border: 1px solid rgba(255, 255, 255, 0.534);
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 2px;
    overflow-y: scroll;
}

.title2 {
    position: absolute;
    top: 38%;
    left: 26%;
    width: 600px;
    height: 80px;
    font-size: 40pt;
    font-weight: bolder;
    text-align: center;
    background-color: transparent;
    color: #ffffff;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 10px;
}

.readmore {
    position: absolute;
    top: 51%;
    left: 41.5%;
    width: 15.825%;
    height: 9.73333%;
}

#add_box {
    position: absolute;
    top: 45%;
    left: 42.5%;
    width: 15%;
    height: 10%;
    cursor: pointer;
}

#add_sequence {
    position: absolute;
    top: 18.5%;
    left: 8%;
    width: 14%;
    height: 78%;
    border: 1px solid white;
    cursor: pointer;
}

.add_sequence {
    position: absolute;
    top: 38%;
    left: 12%;
    width: 75%;
    height: 6%;
}

#add_content {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 14%;
    height: 10%;
    cursor: pointer;
}

.title5 {
    position: absolute;
    top: 15.5%;
    left: 9%;
    width: 800px;
    height: 40px;
    font-size: 20pt;
    font-weight: bolder;
    background-color: transparent;
    color: #ffffff;
    padding: 0;
    margin: 0;
    border: 1px solid rgba(255, 255, 255, 0.534);
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 2px;
}

.photo_box {
    position: absolute;
    top: 27%;
    left: 9%;
    width: 1030px;
    height: 200px;
    border: 1px solid white;
}

.add_photo {
    position: absolute;
    top: 36.5%;
    left: 42.5%;
    width: 15%;
    height: 27%;
}

.content5 {
    position: absolute;
    top: 65%;
    left: 9%;
    width: 1030px;
    height: 190px;
    font-size: 15pt;
    font-weight: 100;
    background-color: transparent;
    color: #ffffff;
    padding: 0;
    margin: 0;
    border: 1px solid rgba(255, 255, 255, 0.534);
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 2px;
    overflow-y: scroll;
}

.content_box {
    position: absolute;
    top: 18%;
    left: 21.5%;
    width: 670px;
    height: 500px;
    padding: 0px 25px;
}

.content_BG {
    position: absolute;
    top: -3%;
    left: -3%;
    width: 106%;
    height: 110%;
}

.title6 {
    position: absolute;
    top: 7%;
    left: 26.5%;
    width: 600px;
    height: 70px;
    font-size: 40pt;
    font-weight: bold;
    text-align: center;
    background-color: transparent;
    color: #ffffff;
    padding: 0;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 8px;
    border: none;
}

.content6 {
    position: absolute;
    top: 22%;
    left: 24%;
    width: 660px;
    height: 470px;
    font-size: 15pt;
    font-weight: 100;
    background-color: transparent;
    color: #ffffff;
    padding: 0;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 2px;
    overflow-y: scroll;
    border: none;
}

::-webkit-scrollbar {
    display: none;
}